/*------------------------------------*\
    FONTS
\*------------------------------------*/
$pt-serif: 'PT Serif', serif;
$noto: 'Noto Sans KR', sans-serif;

/*------------------------------------*\
    MAIN COLOURS
\*------------------------------------*/
$white: #fff;
$black: #000;
$offBlack: #4D4D4D;
$text: #191919;

/*------------------------------------*\
    ANIMATION TIMINGS
\*------------------------------------*/

$bezier:				cubic-bezier(0.165, 0.84, 0.44, 1);
$bezierLg:              cubic-bezier(0.19, 1, 0.22, 1);
$bezierSoftBounce:      cubic-bezier(0.175, 0.85, 0.71, 1.07);