/*------------------------------------*\
    IN VIEWPORT CHECKS - CSS3 ANIMATIONS
\*------------------------------------*/
.in_viewport {
    opacity: 1;
}

.image-zoom {
    img {
        transform: scale(1.1);
        @include transition(all, 30s, ease-in-out);
    }
}

.reset-delay {
    transition-delay: 0s!important;
}

/*------------------------------------*\
    IN VIEWPORT CHECKS - CSS3 TRANSFORMS
\*------------------------------------*/
.viewport_check-up,
.viewport_check-left,
.viewport_check-right,
.viewport_check-down {
    transition: opacity .8s ease 0s,
    transform .8s $bezierSoftBounce 0s;
    will-change: opacity, transform;
}

.viewport_check-fadein {
    transition: opacity 1s ease;
    will-change: opacity;
}

.viewport_check-scalein {
    transition: opacity .8s ease 0s,
    transform .8s $bezier 0s;
    will-change: opacity, transform;
}

@include MQ(tabletSmall) {
    .viewport_check-up:not(.in_viewport) {
        opacity: 0;
        transform: translateY(30px);

        @include MQ(desktop) {
            transform: translateY(40px);
        }
    }

    .viewport_check-left:not(.in_viewport) {
        opacity: 0;
        transform: translateX(30px);

        @include MQ(desktop) {
            transform: translateX(40px);
        }
    }

    .viewport_check-right:not(.in_viewport) {
        opacity: 0;
        transform: translateX(-30px);

        @include MQ(desktop) {
            transform: translateX(-40px);
        }
    }

    .viewport_check-down:not(.in_viewport) {
        opacity: 0;
        transform: translateY(-30px);

        @include MQ(desktop) {
            transform: translateY(-40px);
        }
    }

    .viewport_check-fadein:not(.in_viewport) {
        opacity: 0;
    }

    .viewport_check-scalein:not(.in_viewport) {
        opacity: 0;
        transform: scale(.9);
    }
}

/*------------------------------------*\
    ANNIMATIONS
\*------------------------------------*/

.reset-delay {
    transition-delay: 0s!important;
}

.delay-0 {
    transition-delay: 0s;
}

.delay-1 {
    transition-delay: .2s;
}

.delay-2 {
    transition-delay: .4s;
}

.delay-3 {
    transition-delay: .6s;
}

.delay-4 {
    transition-delay: 8s;
}

.delay-5 {
    transition-delay: 1s;
}

.delay-6 {
    transition-delay: 1.2s;
}

.delay-7 {
    transition-delay: 1.4s;
}

.delay-8 {
    transition-delay: 1.6s;
}

.delay-9 {
    transition-delay: 1.8s;
}

.delay-10 {
    transition-delay: 2s;
}

.delay-11 {
    transition-delay: 2.2s;
}

.delay-12 {
    transition-delay: 2.4s;
}

.delay-13 {
    transition-delay: 2.6s;
}

.delay-14 {
    transition-delay: 2.8s;
}

.delay-14 {
    transition-delay: 3s;
}

.animated.slower {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
}