// BREAK POINTS
$mobilePortrait: 320px;
$mobileLandscape: 480px;
$tabletSmall: 640px;
$tabletPortrait: 768px;
$tabletLandscape: 1024px;
$desktop: 1280px;
$wideDesktop: 1440px;
$siteWidth: 1770px;
$extraWideDesktop: 1920px;

// MEDIA QUERIES
@mixin MQ($canvas) {
  @if $canvas==mobilePortrait {
    @media only screen and (min-width: $mobilePortrait) {
      @content;
    }
  }

  @if $canvas==mobileLandscape {
    @media only screen and (min-width: $mobileLandscape) {
      @content;
    }
  }

  @if $canvas==tabletSmall {
    @media only screen and (min-width: $tabletSmall) {
      @content;
    }
  }

  @if $canvas==tabletPortrait {
    @media only screen and (min-width: $tabletPortrait) {
      @content;
    }
  }

  @if $canvas==tabletLandscape {
    @media only screen and (min-width: $tabletLandscape) {
      @content;
    }
  }

  @else if $canvas==desktop {
    @media only screen and (min-width: $desktop) {
      @content;
    }
  }

  @else if $canvas==wideDesktop {
    @media only screen and (min-width: $wideDesktop) {
      @content;
    }
  }


  @else if $canvas==siteWidth {
    @media only screen and (min-width: $siteWidth) {
      @content;
    }
  }

  @else if $canvas==extraWideDesktop {
    @media only screen and (min-width: $extraWideDesktop) {
      @content;
    }
  }
}


@mixin MQMAX($canvas) {
  @if $canvas==mobilePortrait {
    @media only screen and (max-width: $mobilePortrait) {
      @content;
    }
  }

  @if $canvas==mobileLandscape {
    @media only screen and (max-width: $mobileLandscape) {
      @content;
    }
  }

  @if $canvas==tabletSmall {
    @media only screen and (max-width: $tabletSmall) {
      @content;
    }
  }

  @if $canvas==tabletPortrait {
    @media only screen and (max-width: $tabletPortrait) {
      @content;
    }
  }

  @if $canvas==tabletLandscape {
    @media only screen and (max-width: $tabletLandscape) {
      @content;
    }
  }

  @else if $canvas==desktop {
    @media only screen and (max-width: $desktop) {
      @content;
    }
  }

  @else if $canvas==wideDesktop {
    @media only screen and (max-width: $wideDesktop) {
      @content;
    }
  }


  @else if $canvas==siteWidth {
    @media only screen and (max-width: $siteWidth) {
      @content;
    }
  }

  @else if $canvas==extraWideDesktop {
    @media only screen and (max-width: $extraWideDesktop) {
      @content;
    }
  }
}