//MOBILE DEVICES
//320
@include MQ(mobilePortrait) {}
//480
@include MQ(mobileLandscape) {}

//TABLET DEVICES
//640
@include MQ(tabletSmall) {}
//768
@include MQ(tabletPortrait) {}
//1024
@include MQ(tabletLandscape) {}

//DESKTOP DEVICES
//1280
@include MQ(desktop) {}

//1440
@include MQ(wideDesktop) {}

//1671
@include MQ(siteWidth) {}


//1920
@include MQ(extraWideDesktop) {}


// BREAK POINTS
// $mobilePortrait: 320px;
// $mobileLandscape: 480px;
// $tabletSmall: 640px;
// $tabletPortrait: 768px;
// $tabletLandscape: 1024px;
// $desktop: 1280px;
// $wideDesktop: 1440px;
// $siteWidth: 1671px;
// $extraWideDesktop: 1920px;