// Transitions
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin scale($scale-size) {
    -webkit-transform: scale($scale-size);
    -moz-transform: scale($scale-size);
    -ms-transform: scale($scale-size);
    -o-transform: scale($scale-size);
    transform: scale($scale-size);
}
@mixin filter($filter-type,$filter-amount) {
    -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
    -moz-filter: $filter-type+unquote('(#{$filter-amount})');
    -ms-filter: $filter-type+unquote('(#{$filter-amount})');
    -o-filter: $filter-type+unquote('(#{$filter-amount})');
    filter: $filter-type+unquote('(#{$filter-amount})');
}

 @mixin rotate($degrees) {
    -webkit-transform: rotate($degrees);
    -moz-transform: rotate($degrees);
    -ms-transform: rotate($degrees);
    -o-transform: rotate($degrees);
    transform: rotate($degrees);
}

// Animate
//@include transition(name, duration, iteration-count);
// @include transition(plane, 2s, infinite);
@mixin animation($name, $duration, $iteration-count, $timing-function) {
    -webkit-animation-name: $name;
    -webkit-animation-duration: $duration;
    -webkit-animation-iteration-count: $iteration-count;
    -webkit-animation-timing-function: $timing-function;
    
    -moz-animation-name: $name;
    -moz-animation-duration: $duration;
    -moz-animation-iteration-count: $iteration-count;
    -moz-animation-timing-function: $timing-function;

    -ms-animation-name: $name;
    -ms-animation-duration: $duration;
    -ms-animation-iteration-count: $iteration-count;
    -ms-animation-timing-function: $timing-function;

    -o-animation-name: $name;
    -o-animation-duration: $duration;
    -o-animation-iteration-count: $iteration-count;
    -o-animation-timing-function: $timing-function;

    animation-name: $name;
    animation-duration: $duration;
    animation-iteration-count: $iteration-count;
    animation-timing-function: $timing-function;
}



/**
* Animation mixins
*/

@mixin plane() {
    0% { 
        transform: translate(3%, 0%) rotate(0deg);
        @include rotate(0deg);
    }
    10% { 
        transform: translate(6%, 3%) rotate(4deg);
        // @include rotate(5deg);
    }
    20% { 
        transform: translate(9%, 6%) rotate(8deg);
        // @include rotate(10deg);
    }
    30% { 
        transform: translate(12%, 12%) rotate(12deg);
        // @include rotate(15deg);
    }
    40% { 
        transform: translate(15%, 15%) rotate(6deg);
        // @include rotate(10deg);
    }
    50% { 
        transform: translate(16%, 20%) rotate(0deg);
        // @include rotate(5deg);
    }
    60%{ 
        transform: translate(12%, 15%) rotate(-4deg);
        // @include rotate(0deg);
    }
    70% { 
        transform: translate(9%, 10%) rotate(-10deg);
        // @include rotate(-3deg);
    }
    80% { 
        transform: translate(6%, 5%) rotate(-5deg);
        // @include rotate(-6deg);
    }
    90% { 
        transform: translate(3%, 3%) rotate(-2deg);
        // @include rotate(-4deg);
    }
    100%{ 
        transform: translate(0%, 0%) rotate(0deg);
        // @include rotate(0deg);
    }
}

@mixin longline() {
    0% { 
        width: 34px;
        transform:translate(0%, 0%);
    }
    50% { 
        width: 44px;
        transform:translate(20%, 0%);
    }
    100%{ 
        width: 34px;
        transform:translate(0%, 0%);
    }
}

@mixin shortline() {
    0% { 
        width: 25px;
        transform:translate(0%, 0%);
    }
    50% { 
        width: 35px;
        transform:translate(15%, 0%);
    }
    100%{ 
        width: 25px;
        transform:translate(0%, 0%);
    }
}

@mixin cloud1() {
    0% { 
        transform:translate(0%, 0%);
    }
    50% { 
        transform:translate(-10%, 10%);
    }
    100%{ 
        transform:translate(0%, 0%);
    }
}

@mixin cloud2() {
    0% { 
        transform:translate(0%, 0%);
    }
    50% { 
        transform:translate(-10%, -10%);

    }
    100%{ 
        transform:translate(0%, 0%);
    }
}

@mixin cloud3() {
    0% { 
        transform:translate(0%, 0%);
    }
    50% { 
        transform:translate(10%, -10%);

    }
    100%{ 
        transform:translate(0%, 0%);
    }
}