/*------------------------------------*\
    FLEXIBLE CONTENT
\*------------------------------------*/

.flexbox-content-wrap,
.flexbox {
    z-index: 10;
}

.row-cta_image_blocks {
    .flexbox {
        z-index: 10;
    }

    a {
        z-index: 11;
    }
}

/*------------------------------------*\
    PAGE LOADER - active when links clicked
\*------------------------------------*/

.page-loader {
    z-index: 9999999999999999;
}

.hidePageLoader {
    .page-loader {
        z-index: -9999999999999999;
    }
}

.changePage {
    .page-loader {
        z-index: 9999999999999999;
    }
}

/*------------------------------------*\
    BACKGROUND IMAGES
\*------------------------------------*/
.aboveImages {
    z-index: 10;
}

.background-images {
    img {
        z-index: 1;
    }

    .overlay {
        z-index: 2;
    }

    .img-overlay {
        z-index: 2;
    }
}

/*------------------------------------*\
    HEADER AND NAV
\*------------------------------------*/
header {
    z-index: 100;

    .background-bar {
        z-index: -1;
    }

    .logo-outer-wrap {
        z-index: 15;

        .logo-wrap {
            z-index: 50;
        }
    }

    .line {
        z-index: 20;
    }

    .school-name {
        z-index: 20;
    }

    a {
        z-index: 51;
    }
}

#main-menu {
    z-index: -100;

    .background-images {
        z-index: 81;
    }

    .overlay {
        z-index: 82;
    }

    .menu-wrap {
        z-index: 83;
    }
}

.menu-is-active {
    #main-menu {
        z-index: 200;
    }

    .socials,
    .logo {
        z-index: -1;
    }
}

/*------------------------------------*\
    FOOTER
\*------------------------------------*/
#mc_embed_signup {
    .signup-input-wrap {
        .button-wrapper {
            z-index: 29;

        }

        input[type=submit] {

            z-index: 30; 
        }
    }
}

/*------------------------------------*\
    HERO - CAROUSEL
\*------------------------------------*/
.hero-carousel-image {
    z-index: 10;
}

.hero-carousel-content-wrap {
    z-index: 11;
}

.hero-carousel-downAarrow {
    z-index: 12;
}

.hero-carousel-content-navigation {
    z-index: 13;
}


/*------------------------------------*\
    VACANCIES - CAROUSEL
\*------------------------------------*/
.row-vacancy-pg-01 {
    .vacancies-carousel-image,
    .vacancies-carousel-content-wrap,
    .vacancies-carousel-content-navigation {
        .background-container {
            .overlay {
                z-index: 2;
            }
        }
    }
    
    .vacancies-carousel-image {
        z-index: 10;
    }
    
    .vacancies-carousel-content-wrap {
        z-index: 11;
    }
    
    .vacancies-carousel-downAarrow {
        z-index: 12;
    }
    
    .vacancies-carousel-content-navigation {
        z-index: 13;
    }

    .button-row {
        z-index: 14;
    }
}


/*------------------------------------*\
    HERO - NARROW
\*------------------------------------*/
.row-hero-nrw-01{

    .hero-narrow-wrap {
        z-index: 11;
    }

    .hero-narrow-image {
        z-index: 10;
    }
}


/*------------------------------------*\
    CTA BLOCKS
\*------------------------------------*/
.row-cta-grid-01 {
    ul {
        li {
            .image {
                img {
                    z-index: 30;
                }

                .overlay {
                    z-index: 31;
                }

                svg {
                    z-index: 32;
                }
            }

            a {
                z-index: 33;
            }
        }
    }
}

/*------------------------------------*\
    CTA - BUTTON 01
\*------------------------------------*/
.row-cta-btn-01 {

    .button-narrow-wrap {
        z-index: 11;
    }

    .button-narrow-image {
        z-index: 10;
    }
}


/*------------------------------------*\
    CTA Block with image
\*------------------------------------*/
.row-cta-img-02 {
    .image {
        .image-slant-overlay {
            z-index: 32;
        }

        .overlay {
            z-index: 30;
        }
        
        svg {
            z-index: 100;
        }
    }
}


/*------------------------------------*\
    CAROUSEL NEWS AND EVENTS
\*------------------------------------*/
.row-cta-caro-01 {
    .container {
        .carousel-news-and-events {
            .slide {
                .img-wrap {
                    img {
                        z-index: 30;
                    }
                }
                .overlay {
                    z-index: 32;
                }
            }
        }
    }
}


/*------------------------------------*\
    Icon link
\*------------------------------------*/
.row-cta-3icon-01 {
    .container {
        .slide {
            .link {
                z-index: 30;
            }
        }
    }
}


/*------------------------------------*\
    Staff list
\*------------------------------------*/
.row-list-staff {
    .staff-image-wrap {
        z-index: 9;
    }
    .staff-info-wrap {
        z-index: 11;
    }
}


/*------------------------------------*\
    Policies
\*------------------------------------*/
.row-policies {
    .container {
        .policies-list {
            .policy-item {
                .policy-info-wrap {
                    a {
                        z-index: 100;
                    }
                }
            }
        }
    }
}

/*------------------------------------*\
    Masonary Gallery
\*------------------------------------*/
.row-gallery-pg-02 {
    .gallery-grid {
        .gallery-item {
            .background-container {
                .overlay {
                    z-index: 11;
                }
            }
        }
    }
}

/*------------------------------------*\
    CTA - Full width image with button
\*------------------------------------*/
.row-cta-img-01,
.row-cta-btn-01, {

    .hero-narrow-wrap {
        z-index: 12;
    }

    .overlay {
        z-index: 11; 
    }

    .hero-narrow-image {
        z-index: 10;
    }
}

/*------------------------------------*\
    CONTACT FORM SEVEN
\*------------------------------------*/
.wpcf7-form {
    .ajax-loader {
        &.is-active {
            z-index: 50;
        }
    }
}



/*------------------------------------*\
    LOAD MORE POSTS WRAP
--------------------------------------*/
.load-more-container {
    .load-more-button-wrap {
        z-index: 11;
    }

    .load-more-line {
        z-index: 10;
    }
}


/*------------------------------------*\
    BACKGROUND IMAGES
\*------------------------------------*/
.background-container {
    .background-overlay {
        z-index: 2;
    }
}

.background-ie,
.background-ie .background-image {
    z-index: 3;
}

html.IE {
    .background-container {
        .background-overlay {
            z-index: 4;
        }
    }
}


/*------------------------------------*\
    CALENDAR
\*------------------------------------*/
.row-calendar-pg-01 {
    .calendar-search {
        .search-wrapper {
            svg {
                z-index: 100;
            }
        }
    }
}

/*------------------------------------*\
   CPT POSTS
\*------------------------------------*/
.row-related-posts {
    ul {
        li {
            a {
                z-index: 20;
            }
        }
    }
}

.row-single-recent-posts-list {
    ul {
        li {
            a {
                z-index: 20;
            }
        }
    }
}

.news-event-item-wrap {
    .img-wrap {
        a {
            z-index: 50;
        }
    }
}

/*------------------------------------*\
   404 PAGE
\*------------------------------------*/
.wrap-404 {
    .overlay {
        z-index: 10;
    }

    .image-404 {
        z-index: 10;
    }
 
    .content-wrap-404 {
        z-index: 15;
    }
}