.wrap-404 {
    display: block;
    float: left;
    height: 100vh;
    width: 100vw;

    .image-404,
    .content-wrap-404 {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        height: 100%;

        .content-404 {
            position: relative;
            width: 100%;
            height: 100vh;
            display: block;
            margin: 0 auto;
        }

        .container-404 {
            width: 100vw;
            height: 100vh;
            display: block;
        }

        .background-container {
            width: 100vw;
            height: 100vh;
            position: relative;
            display: block;

            .background-images {
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }

            .overlay {
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                opacity: 1;
                background-color: rgba(23, 23, 23, .8);
            }
        }

        .flexboxitem {
            .block {
                width: 100%;
                max-width: 550px;
                float: none;
                margin: 0 auto;

                @include transition(all, 1s, ease-in-out);

                .button-wrap {
                    width: 100%;
                    float: left;
                    display: block;
                    text-align: center;
                    
                    a {
                        margin: 0 auto;
                        float: none;

                    }

                    @include MQ(tabletLandscape) {
                        text-align: center!important;

                        a {
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }

    .content-404 {
        .fill-container{ 
            padding: 0px 40px;

            .content-wrap {
                text-align: center;
                max-width: 100%;
            
                .title-404,
                .text-404,
                .button-wrap {
                    transition: opacity .8s ease 1s,
                    transform 1s $bezier 1s;
                    will-change: opacity, transform;
                    opacity: 0;
                    transform: translateY(30px);
            
                    @media screen and (min-width: 1100px) {
                        transform: translateY(40px);
                    }
                }
                
                .title-404 {
                    display: block;
                    float: left;
                    text-align: center;
                    font-family: $pt-serif;
                    font-size: 120px;
                    line-height: 120px;
                    text-align: center;
                    color: $white;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    width: 100%;
                    font-weight: 600;
                    letter-spacing: -5.5px;

                    transition-delay: .25s;
                }

                .text-404 {
                    margin-bottom: 40px;
                    display: block;
                    float: left;
                    text-align: center;

                    font-family: $pt-serif;
                    color: $white;
                    font-size: 42px;
                    line-height: 42px;
                    width: 100%;
                    letter-spacing: -2.67px;

                    transition-delay: 0.75s;
                }

                .button-wrap {
                    transition-delay: 1.25s;
                }


                .in_viewport {
                    opacity: 1;
                    transform: translateY(0px);
            
                    @include MQ(tabletLandscape) {
                        transform: translateY(0px);
                    }    
                }
            }
        }
    }

    .pageCenter {
        max-width: 300px;

        @include MQ(mobileLandscape) {
            max-width: 350px;
        }
    }

    .button-row {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 350px;

        @include MQ(tabletSmall) {
            max-width: 550px;
        }
    }
}
