#wp-admin-bar-root-default {
    #wp-admin-bar-wp-logo,
    #wp-admin-bar-customize,
    #wp-admin-bar-new-content,
    #wp-admin-bar-wpseo-menu, 
    #wp-admin-bar-updates,
    #wp-admin-bar-easy-updates-manager-admin-bar {
        display: none!important;
    }
}