.underlineWrap {
	span {
		text-align: center;
		margin: 0;
		padding: 0;
		transition: 0.2s ease-in-out;
		position: relative;

		@media screen and (min-width: 992px) {
			font-size: 36px;
		}

		&:before,
		&:after {
			content: "";
			position: absolute;
			bottom: -10px;
			width: 0px;
			height: 2px;
			margin: 5px 0 0;
			transition: 0.2s ease-in-out;
			transition-duration: 0.5s;
			opacity: 0;
		}

		&.hover-1 {
			&:after {
				left: 0;
				background-color: $white;
            }
            
            &.dark {
                &:after {
                    left: 0;
                    background-color: $text;
                }
            }
		}

		&.hover-2 {
			&:after {
				right: 0;
				background-color: $white;
            }
            
            &.dark {
                &:after {
                    background-color: $text;
                }
            }
		}

		&.hover-3 {
			&:before {
				left: calc(50%);
				background-color: $white;
			}

			&:after {
				right: calc(50%);
				background-color: $white;
            }
            
            &.dark {
                &:before {
                    background-color: $text;
                }
    
                &:after {
                    background-color: $text;
                }
            }
		}

		&.hover-4 {
			&:before {
				left: 0;
				background-color: $white;
			}

			&:after {
				right: 0;
				background-color: $white;
            }
            
            &.dark {
                &:before {
                    background-color: $text;
                }
    
                &:after {
                    background-color: $text;
                }
            }
		}
	}

	&:hover {
		cursor: pointer;

		span {

			&:before,
			&:after {
				width: 100%;
				opacity: 1;
			}

			&.hover-3,
			&.hover-4 {

				&:before,
				&:after {
					width: 50%;
				}
			}
		}
	}
}