.button {
    display: inline-block!important;
    width: auto;
    max-width: unset;
    cursor: pointer;
}

.button--ujarak {
    padding: 10px 25px;
    margin: 20px 0;
    min-width: 162px;
    // border-color: ;
    // background-color: ;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    
    span {
        color: $white;
        text-transform: uppercase;
        word-break: break-word;
        font: normal normal 700 12px/20px $pt-serif;

        @include MQ(tabletLandscape) {
            font: normal normal 700 14px/20px $pt-serif;
        }
    }

    // DEFAULT BLUE
    &:before {
        background: $white;
    }

    // &:hover {
    //     border-color: ;
        
    //     span {
    //         color: ;
    //     }
    // }

    &.ghost-white {
        background-color: transparent;
        border-color: $white;

        span {
            color: $white;
        }
        
        &:hover {
            span {
                color: $text;
            }
        }
    }

    &.cta-button {
        padding: 10px 43px
    }

    //HERO STYLE BUTTON (LARGE)
    &.large-button {
        padding: 12px 25px;
        min-width: 212px;
        
        @include MQ(tabletLandscape) {
            padding: 18px 45px;
        }

        span {            
            font: normal normal 600 12px/20px $pt-serif;
            letter-spacing: 1.2px;

            @include MQ(tabletLandscape) {
                font: normal normal 600 15px/20px $pt-serif;
            }
        }
    }
}