/*------------------------------------*\
    Content Styles
\*------------------------------------*/
.content-wrap {
    h1 {
        font-family: $pt-serif;
        font-size: 30px;
        
        @include MQ(tabletSmall) {
            font-size: 40px;
        }
        
    }
    
    h2 {
        font-family: $pt-serif;
        font-size: 18px;

        @include MQ(tabletSmall) {
            font-size: 20px;
        }
    }
    
    h3 {
        font-family: $pt-serif;
        font-size: 20px;

        @include MQ(tabletSmall) {
            font-size: 30px;
        }

        @include MQ(tabletLandscape) {
            font-size: 30px;
        }
    }
    
    h4 {
        font-family: $pt-serif;
        font-size: 15px;

        @include MQ(tabletSmall) {
            font-size: 25px;
        }

        @include MQ(tabletLandscape) {
            font-size: 25px;
        }
    }
    
    h5 {
        font-family: $pt-serif;
        font-size: 10px;

        @include MQ(tabletSmall) {
            font-size: 20px;
        }

        @include MQ(tabletLandscape) {
            font-size: 20px;
        }
    }
    
    h6 {
        font-family: $pt-serif;
        font-size: 14px;
        
        @include MQ(tabletSmall) {
            font-size: 16px;
        }

        @include MQ(tabletLandscape) {
            // font-size: calc(3 * ((53vw + 53vh) - 600px) / 820);
            font-size: 16px;
        }
    }

    p {
        font-family: $pt-serif;
        font-size: 16px;
        
        @include MQ(tabletSmall) {
            font-size: 18px;
        }

        @include MQ(tabletLandscape) {
            font-size: 20px;
        }
    }

    h1, h2, h3, h4, h5, h6, p {
        line-height: 1.12;
        font-weight: normal;
        margin: 20px 0;
    }

    b {
        font-weight: bold;
    }

    &.block-type-message {
        .title,
        .paragraph {
            font-family: $pt-serif;
            
            p {
                font-family: $pt-serif;
            }
        }
    }
    
    &.block-type-content {
        .title {
            font-family: $pt-serif;
        }

        .paragraph {
            font-family: $pt-serif;
            
            p {
                font-family: $pt-serif;
            }
        }
    }

    strong {
        font-weight: bold;
    }
    
    ul,
    ol {
        padding: 10px 0px 35px 30px;
        color: $text;
        width: 100%;

        li {
            font: normal normal 400 16px/20px $pt-serif;
            color: #aaa;
            line-height: 24px;
            width: 100%;
            padding: 2px 0;
        }
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style: decimal;
    }

    a {
        color: $text;
        word-break: break-word;
    }

    blockquote {
        border-left: 4px solid #009999;
        margin: 40px 0px;
        padding: 20px 30px;

        P {
            color: $text;
            margin: 0 0 20px 0;
            font: normal normal 400 16px/20px $pt-serif;
            width: 100%;

            &:last-of-type {
                margin: 0;
            }
        }
    }

    pre {
        display: block;
        font-family: monospace;
        white-space: pre;
        margin: 1em 0px;
        background-color: #f2f2f2;
    }

    img {
        margin: 10px 20px;
        display: block;

        &.alignleft {
            text-align: left;
            float: left;
            margin-left: 0px;
        }

        &.aligncenter {
            margin: 10px auto;
        }

        &.alignright {
            text-align: right;
            float: right;
            margin-right: 0px;
        }

        &.size-small,
        &.size-medium,
        &.size-large,
        &.size-full {
            width: 100%;
            height: auto;
        }

        &.size-small {
            max-width: 400px;
        }

        &.size-medium {
            max-width: 600px;
        }

        &.size-large {
            max-width: 800px;
        }

        &.size-full {
            max-width: 100%;
        }
    }

    iframe {
        margin: 40px 0px;
    }
}