#cookie-law-info-bar {
    padding: 30px;
    
    @include MQ(tabletLandscape) {
        padding: 10px 30px; 

    }

    .cli_messagebar_head {
        font-weight: bold;
        letter-spacing: -0.19px;
        font-size: 18px;
        font-weight: 600;
        font-family: $pt-serif;
        line-height: 34px;
        color: $white;

        width: 100%;
        max-width: 487px;
        text-align: left;
        display: block;
        float: none;
        margin: 0 auto;
    }

    span {
        font-weight: normal;
        width: 100%;
        float: left;
        display: block;
        margin: 20px 0;
        color: $white;
        font-size: 14px;
        font-family: $pt-serif;

        width: 100%;
        max-width: 487px;
        text-align: left;
        display: block;
        float: none;
        margin: 0 auto 5px auto;
        position: relative;
        height: 70px;
    }

    .cli_settings_button {
        position: absolute;
        left: 0px;
        margin: 0px!important;
        color: white!important;
        bottom: 16px;
    }

    .cli_action_button {
        position: absolute;
        right: 0px;
        bottom: 0px;

        padding: 7px 12px;
        margin: 0;
        min-width: 128px;

        text-decoration: none;
        text-align: center;

        color: $white!important;
        text-transform: uppercase;
        word-break: break-word;
        font: normal normal 700 12px/20px $pt-serif;

        background-color: transparent!important;
        border: 1px solid $white!important;

        -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
        
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #ffffff;
            z-index: -1;
            opacity: 0;
            -webkit-transform: scale3d(0.7, 1, 1);
            transform: scale3d(0.7, 1, 1);
            -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
            transition: transform 0.4s, opacity 0.4s;
            -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
            transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
        }
        
        &:hover {
            color: $text!important;

            &:before {
                opacity: 1;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
        }
    }
}

.cli-modal-body {
    h4 {
        font-weight: bold;
        letter-spacing: -0.19px;
        font-size: 18px;
        font-weight: 600;
        font-family: $pt-serif;
        line-height: 34px;
    }

    a,
    p,
    label,
    .cli-necessary-caption,
    .cli-privacy-content-text,
    .checkbox-non-necessary {
        font-family: $pt-serif
    }

    .cli-nav-link {
        font-weight: bold;
        letter-spacing: -0.19px;
        font-size: 14px;
        font-weight: 600;
        font-family: $pt-serif;
        line-height: 34px;
    }
}

#cookie-law-info-again {
    display: none!important;
}