.wpcf7 {
    P {
        margin-bottom: 0px!important;
        display: block;
        float: left;
    }

    label {
        font-size: 1.2em;
        font-weight: 600;
        font-family: $pt-serif;
        width: 100%;
        margin: 20px 0;
        line-height: 1.4em;
        color: $text;
        margin-bottom: 0px;
        display: block;
        float: left;
    }

    input, textarea {
        width: 100%;
        display: block;
        float: left;
        padding: 15px;
        font-family: $pt-serif;
        color: $offBlack;
        margin-top: 10px;
        border: 1px solid $text;

        &.wpcf7-submit {
            display: block;
            float: left;
            padding: 15px;
            font-size: 1.4em;
            border-radius: 0;
            background-color:$text;
            color: #FFF;
            font-family: $pt-serif;
            margin-top: 20px;
        }
    }
}

.cf7sr-g-recaptcha {
    width: 100%;
    float: left;
    display: block;
    margin: 30px 0 0px 0;

    iframe {
        margin: 0!important;
    }
}

.wpcf7-form {
    .input-wrap {
        width: 100%;
        display: inline-block;
        float: left;
        margin: 0;
        padding: 0;

        &.name,
        &.surname {
            @include MQ(tabletLandscape) {
                width: 49%;
                display: inline-block;
                float: left;
            }
        }

        &.name {
            @include MQ(tabletLandscape) {
                margin-right: 1%;
            }
        }
        
        &.surname {
            @include MQ(tabletLandscape) {
                margin-left: 1%;
            }
        }

        .wpcf7-not-valid-tip {
            font-family: $pt-serif;
            font-size: 14px;
            padding: 10px 0 0 0;
            display: block;
            float: left;
        }
    }
    
    .wpcf7-response-output {
        width: 100%;
        float: left;
        border: 8px;
        background-color: mix(#fff, #f00, 80%);
        color: $text;
        border: none;
        padding: 30px;
        margin: 0 0 30px 0;
        font-family: $pt-serif;
        font-size: 16px;
    }

    .ajax-loader {
        background-image: url(../img/loader.gif)!important;

        &.is-active {
            display: block;
            background-color: #fff;
            position: absolute;
            width: 100%;
            background-repeat: no-repeat;
            height: 100%;
            margin: 0;
            opacity: 0.8;
            background-position: center;

            @include MQ(tabletLandscape) {
                background-position: 46% 32%;
            }
        }
    }

    .button-wrap {
        input[type=submit] {
            display: none;
        }
    }

    input[type=text],
    input[type=email],
    textarea {
        background-color: #EFF0F1;
        padding: 20px;
        font-size: 16px;
        border: none;
        outline: 0;

        @include transition(all, .5s, ease-in-out);


        &:focus  {
            background-color: mix($text, #EFF0F1, 3%);
        }

        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder,
        &:-moz-placeholder {
            color: $text;
            font-family: $pt-serif;
            font-size: 16px;
        }
    }
}

span.wpcf7-not-valid-tip {
    width: 100%;
    float: left;
    border: 8px;
    border: none;
    padding: 10px 0;
    margin: 0 0 10px;
    font-family: $pt-serif;
    font-size: 14px;
    float: left;
}