/*------------------------------------*\
    GENERAL
\*------------------------------------*/

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, .3);
    min-width: 320px;
    overflow-x: hidden;
    max-width: 100%;
    margin: 0!important;

    background-color: #141D29;

    width: 100%;
    float: left;
    height: auto;
    display: block;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

main {
    width: 100%;
    display: block;
    float: left;
    background-color: $white;
    min-width: 300px;
    overflow: hidden;

    &.sidebarActive {
        max-width: 780px;
        margin: 0 auto;
        display: block;
        float: none;
    }

    &:after {
        content: '';
        display: block;
        float: left;
    }
}

.clearfix {
    &::after,
    &::before {
        clear: both;
        content: '';
        display: block;
        width: 100%;
    }
}

.flexible-content-wrap {
    width: 100%;
    display: block;
    clear: both;
    padding: 0px;

    @include MQ(tabletLandscape) {
        padding: 0px;
    }

    .flexible-content-column {
        width: 100%;
        display: block;
    }
}

.flexible-content {
    position: relative;
    float: left;
    width: 100%;
    display: block;
    clear: both;
    padding: 0px;
    overflow: hidden;
    
    .module-name {
        position: absolute;
        width: auto;
        height: auto;
        top: 20px;
        right: 20px;
        padding: 10px;
        background-color: $white;
        color: $text;
        opacity: 0.7;
        display: none;
        z-index: 70;
        
        &.show {
            display: block;
        }
    }
}


.flex-two-column-wrap {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    height: auto;
    float: none;
    padding: 40px 30px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include transition(all, .25s, ease-in-out);

    @include MQ(tabletSmall) {
        padding: 100px 30px;
    }

    @include MQ(tabletPortrait) {
        flex-direction: row;
    }

    @include MQ(tabletLandscape) {
        padding-left: 70px;
        padding-right: 70px;
    }

    @include MQ(siteWidth) {
        padding: 100px 0px;
    }

    .flex-column {
        width: 100%;
        height: auto;
        display: inline-block;
        float: left;

        &.side-bar {
            width: 100%;
            order: 2;
            padding: 0 0 0 0;

            @include MQ(tabletPortrait) {
                width: 30%;
                order: 1;
                padding: 0 40px 0 0;
                border-right: 1px solid #DDDDDD;
            }
        }
    
        &.main-bar {
            width: 100%;
            order: 1;
            padding: 0 0 40px 0;

            @include MQ(tabletPortrait) {
                padding: 0 0 0 40px;
                width: 70%;
                order: 2;
            }
        }
    }

    &.single-post {
        .flex-column {
            width: 100%;
            height: auto;
            display: inline-block;
            float: left;
    
            &.side-bar {
                width: 100%;
                order: 2;
                padding: 0 ;

                @include MQ(tabletPortrait) {
                    width: 30%;
                    order: 2;
                    padding: 0 0 0 40px;
                    border-left: 1px solid #DDDDDD;
                    border-right: none;
                }
            }
        
            &.main-bar {
                width: 100%;
                order: 1;
                padding: 0 0 40px 0;
    
                @include MQ(tabletPortrait) {
                    padding: 0 40px 0px 0;
                    width: 70%;
                    order: 1;
                }
            }
        }
    }
}

// #wpadminbar {
//     display: none;
    
//     @include MQ(tabletPortrait) {
//         display: block;
//     }
// }


/*------------------------------------*\
    PAGE LOADER
\*------------------------------------*/
    // html {
    //     opacity: 0;

    //     -webkit-transition: opacity 1s ease-in;
    //     -moz-transition: opacity 1s ease-in;
    //         -ms-transition: opacity 1s ease-in;
    //         -o-transition: opacity 1s ease-in;
    //             transition: opacity 1s ease-in;
    // }

    // html.page-loaded {
    //     opacity: 1;
    // }

/*------------------------------------*\
    CONTAINERS
\*------------------------------------*/

.container {
    display: block;
    width: 100%;
    float: left;
    position: relative;

    &.center {
        max-width: 1670px;
        margin: 0 auto;
        float: none;
    }

    &.windowHeight {
        height: 100vh;
    }
}

.site-container {
    width: 100%;
    max-width: 90%;

    display: block;
    position: relative;
    margin: 0 auto;
    float: none;
}

.fill-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &.fixed {
        position: fixed;
    }
}

.centerPage {
    max-width: 1744px;
    margin: 0 auto;
    padding: 0 40px;

    @include transition(all, .5s, ease-in-out);
}

.wrap {
    padding: 20px;
    width: 100%;
}

.hide {
    display: none!important;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/*------------------------------------*\
    LAYOUT ATTRIBUTES
\*------------------------------------*/

.block {
    width: 100%;
    height: auto;
    float: left;
    display: block;
}

/*------------------------------------*\
    ABSOLUTE POSITIONING
\*------------------------------------*/

.absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*------------------------------------*\
    FLEXBOX
\*------------------------------------*/

.flexbox {
    display: flex;

    &.column {
        flex-direction: column;
    }

    &.row {
        flex-direction: row;
    }

    &.alignCenter {
        align-items: center;
        justify-content: center;
    }

    &.alignRight {
        justify-content: flex-end;
    }

    &.alignLeft {
        justify-content: flex-start;
    }
}

.flexboxitem {
    &.topLeft {
    }

    &.topCenter {
    }

    &.topRight {
    }

    &.midLeft {
        text-align: left;
    }
    
    &.center {
        justify-content: center;
    }

    &.midRight {
    }

    &.bottomLeft {
        align-self: flex-end;
    }

    &.bottomCenter {
        align-self: flex-start;
    }

    &.bottomRight {
        width: 100%;
    }
}

/*------------------------------------*\
    PAGE LAYOUT
\*------------------------------------*/

.pageCenter {
    max-width: 1670px;
}

/*------------------------------------*\
    WIDGETS
\*------------------------------------*/
.sidebar-column {
    .widget-wrap {
        width: 100%;
        position: relative;
        max-width: 46%;
        margin: 2% 2%;
        display: inline-block;

        @include MQ(mobileLandscape) {
            max-width: 31.333%;
            margin: 0 1%;
        }

        @include MQ(tabletSmall) {
            margin-right: 0%;
            max-width: 100%;
            display: block;
        }
    }
}

/*------------------------------------*\
    TITLE AND BODY TEXT
\*------------------------------------*/

.title-text {
    font-size: 2em;
    line-height: 38px;
    font-weight: 600;
    font-family: $pt-serif;
}

// .page-title-text {
//     font-size: 1.42em;
//     line-height: 29px;
//     font-weight: 400;
//     font-family: $pt-serif;
//     color: $brown;
//     margin-bottom: 30px;
// }

.paragraph-text {
    font-size: .875em;
    line-height: 18px;
    font-weight: 400;
    font-family: $pt-serif;
    color: #333;

    p {
        margin-bottom: 15px;

        &:last-of-type {
            margin-bottom: 0px;
        }
    }
}

.text-shadow {
    text-shadow: 2px 2px 5px rgba($offBlack, 1);
}

/*------------------------------------*\
    LITY IMAGE PROPERTIES
\*------------------------------------*/

.lity-wrap {
    .iframe {
        body {
            img {
                height: auto!important;
                height: 100%!important;
                max-width: 100%!important;
            }
        }
    }
}

/*------------------------------------*\
    IMAGE HOVER FX'S
\*------------------------------------*/

.hoverGrow {
    overflow: hidden;

    img {
        -webkit-transition: opacity 1s, -webkit-transform 1s;
        transition: opacity 1s, transform 1s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    &:hover {
        img {
            -webkit-transform: scale3d(1.1,1.1,1);
            transform: scale3d(1.1,1.1,1);
        }
    }
}

.contrast {
    img {
        filter:contrast(120%);
      }
}


/*------------------------------------*\
    LOAD MORE POSTS WRAP
--------------------------------------*/

.load-more-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    min-height: 140px;
    margin-top: 30px;
    float: left;
    
    .load-more-button-wrap {
        background-color: $white;
        padding: 20px;
        width: auto;
        align-self: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        cursor: pointer;
    }

    .load-more-spinner {
        display: none;
        width: 10px;
        height: 10px;
        margin: 0 auto;
        transform: scale(0);
        transition: opacity .8s ease 0s,
            transform .8s $bezierSoftBounce 0s;
        transition-delay: 0s;
        
        z-index: 20;
        display: flex;

        svg {
            width: 10px;
            height: 10px;
            
            transition: opacity .8s ease 0s,
            transform .8s $bezierSoftBounce 0s;
            transition-delay: 0s;
        }
    }

    &.loading {
        .load-more-button-wrap {
            .button {
                display: none;
                opacity: 0;
            }
        }
        
        .load-more-spinner {
            display: block;
            width: 40px;
            height: 40px;
            transform: translateY(50px);

            svg {
                width: 40px;
                height: 40px;
            }
        }

        .load-more-text {
            display: none;
        }

        .button--ujarak {
            background-color: transparent!important;
            background: transparent!important;
            border-color: transparent!important;
            color: transparent!important;

            &:hover {
                background-color: transparent!important;
                border-color: transparent!important;    
                background: transparent!important;
                color: transparent!important;

                &:before {
                    background-color: transparent!important;
                    background: transparent!important;
                    border-color: transparent!important;    
                    color: transparent!important;    
                }
            }
        }
    }

    .load-more-line {
        width: 100%;
        height: 1px;
        background-color: #0d2c35;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .no-more-posts-message {
        background-color: #f2f2f2;
        padding: 20px 40px;
        font: normal normal 500 16px/20px Montserrat,sans-serif;
    }
}



/*------------------------------------*\
    FLICKITY PAGE DOTS
--------------------------------------*/

.flickity-page-dots {    
    bottom: -25px;

    @include MQ(tabletSmall) {
        bottom: -50px;
    }

    .dot {
        display: inline-block;
        width: 7px;
        height: 7px;
        margin: 0px 4px;
        background: #333;
        border-radius: 50%;
        cursor: pointer;
    }
}

.anchor {
    display: block;
    float: left;
    width: 100%;
    height: 0px;
}

/*------------------------------------*\
    FLICKITY PAGE ARROWS
--------------------------------------*/

.flickity-button {
    background-color: rgba($white, .5)!important;

    @include MQ(tabletPortrait) {
        display: block;
    }

    svg {
        path {
            fill: $text!important;
        }
    }

    &:hover {
        background-color: rgba($white, 1)!important;
    }
}

/*------------------------------------*\
    MONSTER INSIGHTS
--------------------------------------*/

.monsterinsights-tracking-notice {
    display: none!important;
    padding: 15px 10px 15px 15px!important;

    .monsterinsights-tracking-notice-icon {
        display: none;
    }

    .monsterinsights-tracking-notice-text a {
        display: none!important;
    }
}


/*------------------------------------*\
   WP FORMS
--------------------------------------*/
div.wpforms-container-full {
    margin-bottom: 24px!important;
    width: 100%!important;
    float: left!important;
    display: block!important;
}

.wpforms-field-container {
    input,
    textarea {
        display: block!important;
        float: left!important;
        margin-bottom: 0px!important;
        max-width: 100%!important;
        width: 100%!important;
        background-color: transparent!important;

        font-family: $pt-serif!important;
        font-style: normal!important;
        font-weight: normal!important;
        font-size: 14px!important;
        line-height: 22px!important;
        letter-spacing: 0.3px!important;
        
        padding: 13px 10px!important;
        height: unset!important;

        color: #373F41!important;

        border: none!important;
    }

    textarea {
        height: 150px!important;
    }

    &::placeholder {
        font-family: $pt-serif!important;
        font-style: normal!important;
        font-weight: normal!important;
        font-size: 14px!important;
        line-height: 22px!important;
        letter-spacing: 0.3px!important;

        color: #373F41!important;
    }
}

label.wpforms-error {
    font-family: $pt-serif!important;
    font-style: normal!important;
    font-weight: normal!important;
    font-size: 14px!important;
    line-height: 22px!important;
    letter-spacing: 0.3px!important;

    position: absolute!important;
    bottom: -30px!important;
    left: 0px!important;
}

.wpforms-submit {
    display: flex!important;
    justify-content: center!important;
    flex-direction: column!important;

    align-items: center!important;
    text-align: center!important;
    letter-spacing: 0.2px!important;

    background-color: #141D29!important;
    padding: 14px 10px!important;
    text-decoration: none!important;

    font-family: $pt-serif!important;
    font-style: normal!important;
    font-weight: normal!important;
    font-size: 14px!important;
    line-height: 14px!important;

    line-height: 18px!important;

    align-self: center!important;

    color: #ffffff!important;
    font-weight: 300!important;
    text-decoration: none!important;
    min-width: 109px!important;
    border: none!important;

    float: left!important;
}

.wpforms-field-container,
.wpforms-submit-container,
.wpforms-field-medium,
.wpforms-field {
    display: block!important;
    float: left!important;
    width: 100%!important;
    margin: 0!important;
    position: relative!important;

    .line {
        display: block!important;
        float: left!important;
        width: 100%!important;
        margin: 0!important;
        position: relative!important;
        height: 1px!important;

        .grey {
            width: 100%!important;
            height: 1px!important;
            display: block!important;
            background-color: #ccc!important;
    
            position: absolute!important;
            bottom: 0!important;
            left: 0!important;
            right: 0!important;

            @include transition(all, 1s, ease-in-out);
        }

        .black {
            width: 0%!important;
            height: 1px!important;
            display: block!important;
            background-color: #373F41!important;
    
            position: absolute!important;
            bottom: 0!important;
            left: 0!important;
            right: 0!important;

            @include transition(all, 1s, ease-in-out);
        }
    }

    &.has_text,
    &.input_selected {
        .black {
            width: 100%!important;
        }
    }

    &.wpforms-has-error {
        .grey,
        .black {
            background-color: #990000!important;
        }
    }
}

.wpforms-field  {
    margin-bottom: 30px!important;
}