header {
    width: 100%;
    height: 100px;
    display: block;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    z-index: 9999;

    transition: opacity .8s ease 0s,
                background-color .8s ease 0s,
                transform .8s $bezierSoftBounce 0s;
    will-change: opacity, transform;

    background-color: rgba(255,255,255, 0);

    .logo-outer-wrap {
        width: 50px;
        margin: 33px 0 0 0;
        height: auto;

        display: block;
        float: left;

        transition: opacity .5s ease 0s,
                    transform .7s $bezierSoftBounce 0s,
                    margin .5s $bezierSoftBounce 0s;

        will-change: opacity, transform, margin;

        .logo-inner-wrap {
            display: block;
            width: 100%;
            height: auto;
        }

        .light,
        .dark {
            position: absolute;
            
            top: 0;
            left: 0;
            right: 0;
            
            display: block;
            width: 100%;
            height: auto;

            transition: opacity .8s ease 0s,
                        transform .8s $bezierSoftBounce 0s;
            will-change: opacity, transform;
        }

        .dark,
        .light {
            opacity: 0;
        }

        svg {
            width: 100%;
            height: auto;
            transform: scale(0.85);
        }

        .logo-inner-wrap {
            &.menu-is-active {
                .light {
                    opacity: 1!important;
                }

                .dark {
                    opacity: 0!important;
                }
            }
        }
    }

    .main-menu {
        float: right;
        margin: 68px 0 0 0;
        display: none;

        @include MQ(tabletLandscape) {
            display: block;
        }

        nav {
            transform: translateY(-200px);
            
            transition: opacity .8s ease 0s,
                        transform .8s $bezierSoftBounce 0s;
            will-change: opacity, transform;

            ul.menu {
                list-style-type: none;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
    
                li {
                    width: auto;
                    padding: 0 20px;

                    opacity: 0;
                    transition: opacity .8s ease 0s,
                        transform .8s $bezierSoftBounce 0s;
            
                    will-change: opacity, transform;
                    transform: translateY(-30px);
            
                    &.in_viewport {
                        transform: translateY(0px);
                        opacity: 1;
                    }
            
                    @for $i from 1 through 10 {
                        &:nth-child(#{$i}) {
                            transition: opacity .8s ease 0s,
                                transform .8s $bezierSoftBounce 0s;
                            transition-delay: #{$i * 0.2}s;
                        }
                    }
                    
                    a {
                        font-family: $noto;
                        color: $white;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 10px;
                        line-height: 14px;
                        letter-spacing: 0.2em;
                        text-transform: uppercase;

                        text-decoration: none;

                        display: block;
                        width: 100%;
                        text-align: center;
                        position: relative;

                        &:before {
                            content: "";
                            display: block;
                            width: 0%;
                            height: 2px;
                            left: 0;
                            right: 0;
                            bottom: -10px;
                            background-color: $white;
                            position: absolute;
                            opacity: 0.8;
                                        
                            transition: opacity .8s ease 0s,
                                        transform .8s $bezierSoftBounce 0s,
                                        width .8s $bezierSoftBounce 0s;
                            will-change: opacity, transform;
                        }

                        &:hover {
                            &:before {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        &.in_viewport {
            nav {    
                ul.menu {
                    li {
                        opacity: 1;
                        transform: translateY(0px);
                    }
                }
            }
        }
    }

    .overlay-menu {
        float: right;

        transform: translateY(0px);
        transition: opacity .5s ease 0s,
                    transform .5s $bezierSoftBounce 0s,
                    margin .5s $bezierSoftBounce 0s;

        will-change: opacity, transform, margin;

        margin: 40px 0px 0 0;

        color: $white;
        visibility: visible;

        display: flex;

        z-index: 9999;

        @include MQ(tabletLandscape) {
            margin: 40px 0px 0 0;
            display: hidden;
            transform: translateY(-200px)!important;
        }

        .hamburger-inner {
            display: flex;
            flex-direction: column;
            align-content: flex-end;
        }

        .hamburger-inner,
        .hamburger-inner:before,
        .hamburger-inner:after {
            background-color: $white;
            height: 2px;
            align-self: flex-end;
        }
        
        .hamburger-inner:before {
            width: 80%;
            align-self: flex-end;
        }

        .hamburger-inner:after {
            width: 60%;
            align-self: flex-end;
        }
    }

    .hamburger.is-active {
        .hamburger-inner,
        .hamburger-inner:before,
        .hamburger-inner:after {
            width: 100%;
            background-color: $white;
        }
    }
}

body {
    &.header-dark {
        header {
            .logo-outer-wrap {
                .dark {
                    opacity: 1;
                }
            }

            .hamburger-inner,
            .hamburger-inner:before,
            .hamburger-inner:after {
                background-color: #0d2c35;
                
                @include MQ(tabletLandscape) {
                    background-color: $white;
                }
            }
        }
    }

    &.error404,
    &.header-light {
        header {
            .logo-outer-wrap {
                .light {
                    opacity: 1;
                }
                
                .dark {
                    opacity: 0;
                }
            }

            .hamburger-inner,
            .hamburger-inner:before,
            .hamburger-inner:after {
                background-color: $white;
            }
        }
    }

    &.show-scrolled-menu {
        header {
            background-color: rgba(255,255,255, 1);

            .logo-outer-wrap {
                margin: 17px 0 0;
            }
            
            .overlay-menu {
                margin: -24px 0 0;
            }
        }
    }

    &.slider-not-present {
        display: block;
        height: auto;
        overflow-x: scroll;

        .flexible-content-wrap {
            display: block;
            height: auto;
            overflow-x: scroll;
        }

        .main {
            display: block;
            height: auto;
            overflow-x: scroll;
        }

        .flexible-content {
            display: block;
            height: auto;
            overflow-x: scroll;
        }

        #normal-page {
            display: block;
            height: auto;
            overflow-x: scroll;
        }

        .overlay-menu {
            margin-right: 0;
        }
    }
}

body {
    &.fp-viewing-section_1 {
        header {
            .main-menu {
                nav {
                    transform: translateY(0px)!important;
                }
            }
        }
    }

    &.show-burger-menu {
        header {
            .overlay-menu {
                visibility: visible;
                transform: translateY(0px)!important;
            }
        }

    }

    header.menu-style-burger {
        .main-menu {
            nav {
                transform: translateY(-200px)!important;
            }
        }

        .overlay-menu {
            visibility: visible;
            transform: translateY(0px)!important;
        }
    }  
}

.page-loading {
    background-color: rgb(32, 34, 37);
                          
    transition: opacity .8s ease 0s,
                transform .8s $bezierSoftBounce 0s;
    will-change: opacity, transform;

    position: fixed;
    z-index: 999999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .background {
        position: fixed;
        z-index: 999999;
        width: 100%;
        height: 100%;

        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #141D29;

        transition: opacity .8s ease 0s,
                    width .8s ease 0s,
                    height .8s ease 0s,
                    transform .8s $bezierSoftBounce 0s;
        will-change: opacity, transform;

        box-shadow: 0 0 100px 0 rgba(0,0,0,0.50);

        z-index: 9999999;
    }

    .background-image {
        position: fixed;
        z-index: 999999;
        width: 100%;
        height: 100%;

        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #141D29;

        opacity: 0;

        transition: opacity 2.8s ease 0s,
                    width 2.8s ease 0s,
                    height 2.8s ease 0s,
                    transform 2.8s $bezierSoftBounce 0s;
        will-change: opacity, transform;

        background-size: cover;
        background-repeat: no-repeat;

        z-index: 999999;

    }

    .logo-center {
        overflow: visible;
        position: absolute;
        left: 50%;
        top: 50%;

        z-index: 999999999;

        transform: translate(-50%, -50%);

        svg {
            transition: opacity .8s ease 0s,
                width .8s ease 0s,
                height .8s ease 0s,
                transform .8s $bezierSoftBounce 0s;
            will-change: opacity, transform;

            transform: scale(0);
            opacity: 0;
            width: 150px;
            height: 150px;
        }

        .aniamte {
            fill: transparent;
            stroke: white;
            stroke-width: 1px;
            animation: draw 25s infinite;
          }
    }

    &.start-loaded {
        .background {
            width: 90%;
            height: 85%;

            max-height: 455px;
            max-width: 550px;
        }

        .background-image {
            opacity: 0.6;
        }

        .logo-center {    
            svg {
                transform: scale(1);
                opacity: 0.6;
            }
        }
    }

    &.page-fully-loaded {
        .background {
            width: 100%;
            height: 100%;
        }
    }

    &.hide-page-loader {
        opacity: 0;

        .background {
            opacity: 0;
        }

        .logo-center {    
            svg {
                transform: scale(0);
                opacity: 0;
            }
        }
    }

    &.remove-page-loader {
        z-index: -99999;
        visibility: hidden;
    }
}

header {
    &.menu-is-active {
        background-color: transparent!important;
    }
}

@keyframes draw {
    0% {
        stroke-dasharray: 50;
        stroke-dashoffset: 0;
        fill: transparent;
        stroke-width: 2px;
    }
    50% {
        stroke-dasharray: 45;
        stroke-dashoffset: 100;
        fill: $white;
        stroke-width: 0px;
    }
    100% {
        stroke-dasharray: 50;
        stroke-dashoffset: 0;
        fill: transparent;
        stroke-width: 2px;
    }
}

@-webkit-keyframes draw {
    0% {
        stroke-dasharray: 50;
        stroke-dashoffset: 0;
        fill: transparent;
        stroke-width: 2px;
    }
    50% {
        stroke-dasharray: 45;
        stroke-dashoffset: 100;
        fill: $white;
        stroke-width: 0px;
    }
    100% {
        stroke-dasharray: 50;
        stroke-dashoffset: 0;
        fill: transparent;
        stroke-width: 2px;
    }
}