/*------------------------------------*\
    BACKGROUND IMAGES
\*------------------------------------*/

.background-container {
    .background-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;

        svg {
            width: 100vw; 
            height: 100vh;
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            
            rect {
                width: 100vw; 
                height: 100vh;
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
            }
        }

        #_FLAT_OVERLAY {
            width: 100vw; 
            height: 100vh;
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }
    }
}

.background-ie,
.background-ie .background-image {
    display: none;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-position: center;
}

.background-images {
    position: absolute;
    width: 100%;

    img {
        object-fit: cover;
    }

    .background-mobile {
        display: block;
    }

    .background-tablet {
        display: none;
    }

    .background-desktop {
        display: none;
    }

    @include MQ(tabletSmall) {
        .background-mobile {
            display: none;
        }
    
        .background-tablet {
            display: block;
        }
    
        .background-desktop {
            display: none;
        }
    }

    @include MQ(tabletLandscape) {
        .background-mobile {
            display: none;
        }
    
        .background-tablet {
            display: none;
        }
    
        .background-desktop {
            display: block;
        }
    }
}

.image-wrap,
.image.container {
    .background-ie {
        display: none;
    }
}

html.IE {
    .background-images {
        .background-mobile {
            display: none!important;
        }

        .background-tablet {
            display: none!important;
        }

        .background-desktop {
            display: none!important;
        }

        .background-ie {
            display: block!important;

            .background-image {
                display: block!important;
            }
        }
    }

    .background-container {
        .background-overlay {
            opacity: 0.3!important;
            background-color: $text;
        }
    }

    .image-wrap,
    .image.container {
        .mobile,
        .mobileAbove {
            display: none!important;
        }

        .background-normal  {
            display: none!important;
        }

        .background-ie {
            display: block!important;

            .background-image {
                display: block!important;
            }
        }
    }
}