.tml-action-login,
.page-lostpassword,
.tml-action {
    
    header,
    footer {
        display: none;
    }

    a {
        font-family: $pt-serif;
        font-size: 14px;
        line-height: 1.7;
        color: #666666;
        margin: 0px;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        text-decoration: none;

        span {
            text-decoration: none;
        }
    }

    a:focus {
        outline: none !important;
    }

    a:hover {
        text-decoration: none;
        color: #45B1E1;
    }

    /*---------------------------------------------*/
    h1,h2,h3,h4,h5,h6 {
        margin: 0px;
    }

    p {
        font-family: $pt-serif;
        font-size: 14px;
        line-height: 1.7;
        color: #666666;
        margin: 0px;
    }

    ul, li {
        margin: 0px;
        list-style-type: none;
    }

    .hint {
        margin: 20px 0;
    }


    /*---------------------------------------------*/
    input {
        outline: none;
        border: none;
    }

    textarea {
        outline: none;
        border: none;
    }

    textarea:focus, input:focus {
        border-color: transparent !important;
    }

    input:focus::-webkit-input-placeholder { color:transparent; }
    input:focus:-moz-placeholder { color:transparent; }
    input:focus::-moz-placeholder { color:transparent; }
    input:focus:-ms-input-placeholder { color:transparent; }

    textarea:focus::-webkit-input-placeholder { color:transparent; }
    textarea:focus:-moz-placeholder { color:transparent; }
    textarea:focus::-moz-placeholder { color:transparent; }
    textarea:focus:-ms-input-placeholder { color:transparent; }

    input::-webkit-input-placeholder { color: #999999;}
    input:-moz-placeholder { color: #999999;}
    input::-moz-placeholder { color: #999999;}
    input:-ms-input-placeholder { color: #999999;}

    textarea::-webkit-input-placeholder { color: #999999;}
    textarea:-moz-placeholder { color: #999999;}
    textarea::-moz-placeholder { color: #999999;}
    textarea:-ms-input-placeholder { color: #999999;}


    label {
    display: block;
    margin: 0;
    }

    /*---------------------------------------------*/
    button {
        outline: none !important;
        border: none;
        background: transparent;
    }

    button:hover {
        cursor: pointer;
    }

    iframe {
        border: none !important;
    }

    /*//////////////////////////////////////////////////////////////////
    [ utility ]*/

    /*==================================================================
    [ Text ]*/
    .txt1 {
        font-family: $pt-serif;
        font-size: 13px;
        line-height: 1.4;
        color: #555555;
        text-decoration: none;
    }

    .txt2 {
        font-family: $pt-serif;
        font-size: 13px;
        line-height: 1.4;
        color: #999999;
    }


    /*==================================================================
    [ Size ]*/
    .size1 {
        width: 355px;
        max-width: 100%;
    }

    .size2 {
        width: calc(100% - 43px);
    }


    /*//////////////////////////////////////////////////////////////////
    [ login ]*/
    .limiter {
        width: 100%;
        margin: 0 auto;
    }

    .container-login100 {
        width: 100%;  
        min-height: 100vh;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background: #f2f2f2;
    }


    .wrap-login100 {
        width: 100%;
        background: transparent;
        overflow: hidden;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        flex-direction: row-reverse;
    }

    /*==================================================================
    [ login more ]*/
    .login100-more {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 1;
    }

    .login100-more::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.1);
    }



    /*==================================================================
    [ Form ]*/

    .login100-form {
        width: 100%;
        min-height: 100vh;
        display: block;
        background-color: #f7f7f7;
        padding: 0px 55px;
        display: flex;

        transition: all .5s ease-in-out;
        transition-delay: .5s;

        @include MQ(tabletLandscape) {
            overflow: hidden;
            max-width: 0!important;
            padding: 0!important;
        }
    }

    .login100-form-title {
        width: 100%;
        display: block;
        font-family: $pt-serif;
        font-size: 30px;
        color: #333333;
        line-height: 1.2;
        text-align: center;
    }

    .tml-error {
        width: 100%;
        display: block;
        font-family: $pt-serif;
        font-size: 16px;
        color: #333;
        line-height: 1.2;
        text-align: center;
        padding: 25px;
        margin-bottom: 20px;
    }



    /*------------------------------------------------------------------
    [ Input ]*/

    .wrap-input100 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        width: 100%;
        height: 80px;
        position: relative;
        border: 1px solid #e6e6e6;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .label-input100 {
        font-family: $pt-serif;
        font-size: 18px;
        color: #999999;
        line-height: 1.2;

        display: block;
        position: absolute;
        pointer-events: none;
        width: 100%;
        padding-left: 24px;
        left: 0;
        top: 30px;

        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

    .input100 {
        display: block;
        width: 100%;
        background: transparent;
        font-family: $pt-serif;
        font-size: 18px;
        color: #555555;
        line-height: 1.2;
        padding: 0 26px;
    }

    input.input100 {
        height: 100%;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

    /*---------------------------------------------*/

    .focus-input100 {
        position: absolute;
        display: block;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        top: -1px;
        left: -1px;
        pointer-events: none;
        border: 1px solid #45B1E1;
        border-radius: 10px;

        visibility: hidden;
        opacity: 0;

        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;

        -webkit-transform: scaleX(1.1) scaleY(1.3);
        -moz-transform: scaleX(1.1) scaleY(1.3);
        -ms-transform: scaleX(1.1) scaleY(1.3);
        -o-transform: scaleX(1.1) scaleY(1.3);
        transform: scaleX(1.1) scaleY(1.3);
    }

    .input100:focus + .focus-input100 {
        visibility: visible;
        opacity: 1;

        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    .eff-focus-selection {
        visibility: visible;
        opacity: 1;

        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    .input100:focus {
        height: 48px;
    }

    .input100:focus + .focus-input100 + .label-input100 {
        top: 14px;
        font-size: 13px;
    }

    .has-val {
        height: 48px !important;
    }

    .has-val + .focus-input100 + .label-input100 {
        top: 14px;
        font-size: 13px;
    }

    .wrap-input100.has_text {
        .focus-input100 {
            visibility: visible;
            opacity: 1;
    
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
        }
        
        .input100 {
            height: 48px;
        }

        .label-input100 {
            top: 14px;
            font-size: 13px;
        }
    
    }

    /*==================================================================
    [ Restyle Checkbox ]*/

    .input-checkbox100 {
        display: none;
    }

    .label-checkbox100 {
        font-family: $pt-serif;
        font-size: 13px;
        color: #999999;
        line-height: 1.4;

        display: block;
        position: relative;
        padding-left: 26px;
        cursor: pointer;
    }

    .label-checkbox100::before {
        content: "\f00c";
        font-family: FontAwesome;
        font-size: 13px;
        color: transparent;

        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 2px;
        background: #fff;
        border: 1px solid #45B1E1;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .input-checkbox100:checked + .label-checkbox100::before {
        color: #45B1E1;
    }


    /*------------------------------------------------------------------
    [ Button ]*/
    .container-login100-form-btn {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .login100-form-btn {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        background: #45B1E1;

        font-family: $pt-serif;
        font-weight: bold;
        font-size: 12px;
        color: #fff;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 1px;

        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

    .login100-form-btn:hover {
        background: #009EC8;
    }



    /*------------------------------------------------------------------
    [ Responsive ]*/

    // @media (max-width: 992px) {
    //     .login100-form {
    //         width: 50%;
    //         padding-left: 30px;
    //         padding-right: 30px;
    //     }

    //     .login100-more {
    //         width: 50%;
    //     }
    // }

    // @media (max-width: 768px) {
    //     .login100-form {
    //         width: 100%;
    //     }

    //     .login100-more {
    //         display: none;
    //     }
    // }

    // @media (max-width: 576px) {
    //     .login100-form {
    //         padding-left: 15px;
    //         padding-right: 15px;
    //         padding-top: 70px;
    //     }
    // }


    /*------------------------------------------------------------------
    [ Alert validate ]*/

    .validate-input {
        position: relative;
    }

    .alert-validate::before {
        content: attr(data-validate);
        position: absolute;

        z-index: 100;

        z-index: 100;
        width: 100%;
        max-width: 96%;
        background-color: #F7F7F7;
        padding: 4px 25px 4px 10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 7px;
        pointer-events: none;

        font-family: $pt-serif;
        color: #c80000;
        font-size: 13px;
        line-height: 1.4;
        text-align: left;

        visibility: visible;
        opacity: 1;

        -webkit-transition: opacity 0.4s;
        -o-transition: opacity 0.4s;
        -moz-transition: opacity 0.4s;
        transition: opacity 0.4s;
    }

    .alert-validate::after {
        content: "\f12a";
        font-family: FontAwesome;
        display: block;
        position: absolute;
        z-index: 110;
        color: #c80000;
        font-size: 16px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 18px;
    }

    .alert-validate:hover:before {
        visibility: visible;
        opacity: 1;
    }

    @media (max-width: 992px) {
        .alert-validate::before {
            visibility: visible;
            opacity: 1;
        }
    }

    .login100-form-social-item {
        width: 36px;
        height: 36px;
        font-size: 18px;
        color: #fff;
        border-radius: 50%;
        text-decoration: none;
        margin: 0 5px;
    }

    .login100-form-social-item:hover {
        background: #333333!important;
        color: #fff;
    }

    #loginform {
        background: #f7f7f7!important;
    }

    .login-logo {
        display: block;
        width: 100%;
        float: left;
        text-align: center;

        img {
            margin: 0 auto;
            float: none;
            width: 300px;
        }
    }

    .login-inner-wrap {
        max-width: 460px;
        margin: 0 auto;
        align-self: center;
    }

    .login100-form-title {
        font-size: 14px!important;
        margin-top: 15px!important;
        display: block!important;
        float: left!important;
        padding-bottom: 23px!important;
    }

    .wrap-login100 {
        position: relative;
    }

    .login-bg {
        float: left;
        height: 100%;
        width: 100%;
        position: absolute;
        object-fit: cover;
        left: 0;
        top: 0;
        display: none;
        z-index: -1;

        @include MQ(tabletLandscape) {
            display: block;  
        }
    }

    .tml-action-login .in_viewport,
    .tml-action-lostpassword .in_viewport  {
        width: 100%;
    }

    .container-login100 {
        display: block;
        width: 100%;
        float: left;
        flex-wrap: unset;
    }

    .in_viewport {
        // .login-bg {
        //     width:  calc(100% - 560px);
        // }

        @include MQ(tabletLandscape) {
            .login100-form {
                width: 560px;
            }
        }

        .login100-form {
            @include MQ(tabletLandscape) {
                overflow: hidden;
                max-width: 560px!important;
                padding-left: 55px!important;
                padding-right: 55px!important;
            }
        }
    }

    .need-help-login {
        padding: 60px 0 20px 0;
        text-align: center;
        cursor: pointer;

        a {
            text-transform: none;
        }

        span {
            font-family: $pt-serif;
            font-size: 14px;
            line-height: 1.2;
            
            color: #c80000;
            text-decoration: none;
        }
    }

    .message {
        background-color: white;
        padding: 20px;
        margin-bottom: 30px;
        border-left: 6px solid #45B1E1;
        font-size: 16px!important;
        margin-top: 0px!important;
    }

    .tml.tml-resetpass {
        float: left;
    }

    .tml-label {
        font-size: 13px;
        font-family: $pt-serif;
        color: #999;
        line-height: 1.2;
        display: block;
        width: 100%;
        transition: all .4s;
    }

    .tml-field-wrap.tml-pass1-wrap,
    .tml-field-wrap.tml-pass2-wrap {
        border: 1px solid #45b1e1;
        padding: 10px 20px;
        border-radius: 10px;
    }

    .tml-field-wrap.tml-pass1-wrap input,
    .tml-field-wrap.tml-pass2-wrap input {
        background-color: transparent;
        height: 30px;
        font-size: 16px;
    }

    #pass-strength-result {
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        font-family: $pt-serif;
        font-size: 14px;
    }

    .tml-submit-wrap {
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 20px;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        background: #45b1e1;
        font-family: $pt-serif;
        font-weight: 700;
        font-size: 12px;
        color: #fff;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: all .4s;
    }

    .tml-button {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 20px;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        background: #45b1e1;
        font-family: $pt-serif;
        font-weight: 700;
        font-size: 12px;
        color: #fff;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: all .4s;
    }
    
}    