#main-menu {
    opacity: 0;
    transition: opacity .5s ease .5s,
    transform .5s $bezierSoftBounce .5s;

    .menu-wrap {
        overflow-x: scroll;
        width: 100%;
        height: 100%;
        display: block;
        position: relative;

        .block {
            position: relative;
            height: 100%;
            width: 100%;
            margin: 0px;
            padding-top: 50px;

            @include MQ(tabletSmall) {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
    
                height: auto;
                width: 100%;
                margin: 0px;
            }
        }
    }

    .overlay {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0,0,0, .6);
    }

    .close-menu {
        z-index: 100;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0px;
        right: 40px;
    }

    .hamburger {
        margin-top: 37px;

        @include MQ(mobileLandscape) {
            margin-top: 55px;
        }
    }

    /*------------------------------------*\
        MAIN MENU
    \*------------------------------------*/

    ul.menu {
        padding: 0;
        margin: 0;
        position: relative;
        width: 100%;
        max-width: 100%;

        li {
            list-style-type: none;
            padding: 0;
            margin: 0;
            opacity:  0;
            position: relative;
            text-align: center;

            /*------------------------------------*\
                SUB MENU
            \*------------------------------------*/

            ul.sub-menu {
                width: 100%;
                max-width: 100%;
                padding: 0px;
                margin: 0px;

                overflow: hidden;
                display: none;

                li {
                    background-color: transparent;
                }

                a {
                    font-size: 17px;
                    line-height: 18px;
                    margin: 5px;
                    position: relative;
                    font-weight: 300;
                    opacity: .7;
                    padding: 0;
                    background-color: transparent;
                    color: $white;
                    position: relative;
                    font-family: $pt-serif;

                    &:hover {
                        opacity: 1;

                        &:before {
                            opacity: 1;
                            left: -6px;
                        }
                    }
                }

                &:hover {
                    display: block;
                    background-color: transparent;
                }
            }

            a {
                text-decoration: none;
                font-weight: 600;
                margin: 10px;
                padding: 0;
                display: inline-block;
                width: auto;
                text-align: center;
                font-size: 23px;
                line-height: 23px;
                text-transform: uppercase;
                font-family: $pt-serif;
                color: $white;
                padding: 0;
            }
        }
    }
}

.menu-two-overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0;
    background-color: rgba(0,0,0, .6);
    z-index: -10;
}


.menu-style-two {
    #main-menu {
        width: 0;
        left: unset;
        transition: width .6s ease-in-out;

        .overlay {
            background-color: $white;
        }

        .menu-wrap {
            .block {
                transform: translate(0%, 50px);
                transition-delay: 1s;
                transition: transform .5s ease-in-out;

                @include MQ(tabletLandscape) {
                    transform: translate(200%,-50%);
                }
            }
        }

        ul.menu {
            li {
                a {
                    color: $black;
                }

                ul.sub-menu {
                    a {
                        color: $black;  
                    }
                }
            }
        } 

        .hamburger {
            transform: translateX(300%);
            transition-delay: 1s;
        }

        .hamburger.is-active .hamburger-inner,
        .hamburger.is-active .hamburger-inner:after, 
        .hamburger.is-active .hamburger-inner:before {
            background-color: $black!important;
        }

        .menu-arrow-wrap svg {
            fill: $black;
        }
    }

    &.menu-is-active {
        #main-menu {
            width: 100%;

            @include MQ(tabletPortrait) {
                width: 50%;
            }

            @include MQ(tabletLandscape) {
                width: 40%;
            }

            @include MQ(desktop) {
                width: 30%;
            }

            .menu-wrap {
                .block {
                    transform: translate(0%, 50px);
                    
                    @include MQ(tabletLandscape) {
                        transform: translate(-50%,-50%);
                    }
                }
            }
        }

        .hamburger {
            transform: translateX(0)!important;
        }

        header {
            height: 0px!important;
            overflow: hidden;
        }

        .menu-two-overlay {
            opacity: 1;
            z-index: 80;
        }

    }
}

/*------------------------------------*\
    MAIN MENU ACTIVE
\*------------------------------------*/
.menu-is-active {
    overflow: hidden;
    
    #main-menu {
        opacity:  1;

        ul.menu {
            li {
                opacity:  1;

                &.li-item-active {
                    a {
                        background-color: transparent;
                        color: $white;
                    }

                    ul.sub-menu {
                        display: block;

                        a {
                            background-color: transparent;
                            color: $white;
                        }
                    }
                }
            }
        }

        .background-images {
            opacity: 1;

            img {
                height: 100vh;
            }
        }

        #menu-main-menu {
            &:before {
                opacity:  1;
            }
        }
    }

    .socials, 
    .logo, 
    .search-box,
    .new-search-wrap,
    .search-wrap,
    .field-wrap {
        opacity:  0;
        visibility: hidden;
        transition-delay: 0;
    }

    .hamburger {
        &.is-active {
            .hamburger-inner {
                background-color: #fff;

                &:before {
                    background-color: #fff;
                }

                &:after {
                    background-color: #fff;
                }
            }
        }
    }

    header .logo-outer-wrap {
        opacity: 0;
    }

    header.headerVisable {
        .background-bar-text, .background-bar {
            opacity: 0;   
        }
    }

    .background-bar {
        opacity: 0;
    }

    &.force-header-visible header, 
    &.show-scrolled-menu header {
        background-color: transparent!important;

        .hamburger {
            .hamburger-inner {
                background-color: $white!important;
        
                &:before {
                    background-color: $white!important;
                }
        
                &:after {
                    background-color: $white!important;
                }
            }

            &.is-active {
                .hamburger-inner {
                    background-color: $white!important;
        
                    &:before {
                        background-color: $white!important;
                    }
        
                    &:after {
                        background-color: $white!important;
                    }
                }
            }
        }
    }

    &.force-header-visible, 
    &.show-scrolled-menu {
        background-color: transparent!important;

        .hamburger {
            margin-top: 42px!important;
        }
    }
}

/*------------------------------------*\
   FORCE MOBILE MENU FOR DESKTOP
\*------------------------------------*/
.menu-arrow-wrap {
    position: relative;
    display: inline-block;
    top: -5px;
    left: -11px;
    cursor: pointer;

    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 15px;
        height: 15px;
        fill: $white;

        path {
            fill: $white;
        }

        g {
            fill: $white;
        }
    }
}

.level-1 {
    .menu-arrow-wrap {
        transform: scale(0.7);
    }
}

.menu-arrow-wrap.closed.open {
    @include rotate(180deg);
}

.level-1 .menu-arrow-wrap.closed.open {
    transform: scale(0.7) rotate(180deg);
}

/*------------------------------------*\
   MENU FONT SIZES
\*------------------------------------*/
//  #main-menu.menu-size-normal {
//     ul.menu {
//         li {
//             ul.sub-menu {
//                 a {
//                     font-size: 17px;
//                     line-height: 18px;
//                     font-weight: 300;
//                 }
//             }

//             a {
//                 font-weight: 600;
//                 font-size: 20px;
//                 line-height: 23px;
//             }

//             li.level-2 a {
//                 font-size: 14px;
//             }
//         }
//     }
// }

#main-menu.menu-size-large {
    ul.menu {
        li {
            ul.sub-menu {
                a {
                    @include MQ(tabletSmall) {
                        font-size: 21px;
                        line-height: 23px;
                        font-weight: 400;
                    }
                }
            }

            a {
                @include MQ(tabletSmall) {
                    font-weight: 600;
                    font-size: 29px;
                    line-height: 35px;
                }
            }

            li.level-2 a {
                @include MQ(tabletSmall) {
                    font-size: 16px;
                    line-height: 16px;
                }
            }
        }
    }

    .menu-arrow-wrap {
        @include MQ(tabletSmall) {
            top: -10px;
            left: -14px;
            transform: scale(1.3);
        }
    }
}