
.navigation-popup {
    background-color: #24282D;

    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    // display: none;
    visibility: hidden;
    opacity: 0;
                                        
    transition: opacity .8s ease 0s,
                transform .8s $bezierSoftBounce 0s,
                width .8s $bezierSoftBounce 0s;
    will-change: opacity, transform;

    overflow: hidden;

    .navigation-wrap {
        position: absolute;
        display: block;

        z-index: 40000;
        width: 100%;
        height: 100%;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .navigation-popup-menu {
            width: auto;
            margin-left: 10%;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            @include MQ(tabletLandscape) {
                margin-left: 15%;
            }

            li {
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 25px 0;

                transition: opacity .8s ease 0s,
                            transform .8s $bezierSoftBounce 0s,
                            width .8s $bezierSoftBounce 0s;
                will-change: opacity, transform;

                opacity: 0;
                transform: translateY(30px);

                @for $i from 1 through 15 {
                    &:nth-child(#{$i}) {
                        transition: opacity .8s ease 0s,
                            transform .8s $bezierSoftBounce 0s;
                        transition-delay: #{$i * 0.2}s;
                    }
                }

                a {
                    display: inline-block;
                    width: 100%;
                    text-align: left;
                    position: relative;
                    text-transform: uppercase;
                    text-decoration: none;

                    span {
                        color: $white;

                        display: inline-block;
                        width: auto;
                        text-align: left;
                        position: relative;

                        font-family: $pt-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 1.25;
                        text-decoration: none;

                        letter-spacing: 0.2em;
                        text-transform: uppercase;

                        position: relative;

                        @include MQ(tabletLandscape) {
                            font-size: 26px;
                        }

                        &:before {
                            content: "";
                            display: block;
                            width: 0%;
                            height: 2px;
                            left: 0;
                            right: 0;
                            bottom: -10px;
                            background-color: $white;
                            position: absolute;
                            opacity: 0.8;
                                        
                            transition: opacity .8s ease 0s,
                                        transform .8s $bezierSoftBounce 0s,
                                        width .8s $bezierSoftBounce 0s;
                            will-change: opacity, transform;
                        }    
                    }

                    &:hover {
                        span {
                            &:before {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }


    .section-slide-title {
        position: absolute;
        left: 7%;
        bottom: 30px;
        z-index: 20;

        flex-direction: row;
        justify-content: center;

        opacity: 0;
        transition-delay: 0.8s;

        transition: opacity .8s ease 0s,
                    transform .8s $bezier 0s;
        will-change: opacity, transform;

        transform: translateX(-100%);

        z-index: 99999999;

        @include MQ(tabletLandscape) {
            display: flex;
            bottom: 25px;
        }

        .text-wrap, 
        .line-wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;

            height: 30px;
            width: auto;

            z-index: 99999999;
        }

        .line-wrap {
            width: 200px;
        }

        span {
            font-family: $pt-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 14px;

            opacity: 0;                        
            color: #ffffff;

            transition-delay: 0.8s;

            transition: opacity .8s ease 0s,
                        transform .8s $bezier 0s;
            will-change: opacity, transform;
            padding-left: 11px;

            @include MQ(tabletLandscape) {
                padding-left: 20px;
            }
        }

        .line {
            display: flex;
            height: 1px;
            width: 0px;

            background-color: hsla(0,0%,66%,.5);
            width: 100%;

            align-self: center;
            transform: translateX(-6px);

            opacity: 0;
            transition-delay: 0.8s;

            transition: opacity .8s ease 0s,
                        transform .8s $bezier 0s;
            will-change: opacity, transform;
        }
    }

    .section-slide-copy {
        position: absolute;
        left: 7%;
        bottom: 30px;
        z-index: 20;

        flex-direction: row;
        justify-content: center;

        opacity: 0;
        transition-delay: 0.8s;

        transition: opacity .8s ease 0s,
                    transform .8s $bezier 0s;
        will-change: opacity, transform;

        transform: translateX(100%);

        z-index: 99999999;

        @include MQ(tabletLandscape) {
            display: flex;
            bottom: 25px;
            right: 7%;
            left: unset;
        }

        .text-wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;

            height: 30px;
            width: auto;

            z-index: 99999999;
        }

        span, a {
            font-family: $pt-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 14px;

            opacity: 0;                        
            color: #B4B4B4;

            transition-delay: 0.8s;

            transition: opacity .8s ease 0s,
                        transform .8s $bezier 0s;
            will-change: opacity, transform;
            padding-left: 11px;
            
            @include MQ(tabletLandscape) {
                padding-left: 20px;
            }
        }

        a {
            color: #fff;
            padding-left: 0px;
            text-decoration: none;
        }
    }


    .navigation-popup-images-overlay {
        position: absolute;
        display: block;
        
        z-index: 35001;
        width: 100%;
        height: 100%;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background-image: url('../img/grain-big-pattern.png');
    }

    .navigation-patterns {
        position: absolute;
        display: block;
        
        z-index: 35002;
        width: 100%;
        height: 100%;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .patterns {
            .puzzle-piece {
                background: rgb(43,46,50);
                background: linear-gradient(180deg, rgba(43,46,50,1) 0%, rgba(43,46,50,0) 100%);
                opacity: 1;

                display: block;
                position: absolute;
        
                &.piece-1 {
                    left: -69%;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    transform: skewX(-25deg) translateZ(0);
                    transition: opacity 2.2s cubic-bezier(.23,1,.32,1) .8s;
                                 
                    transition: opacity .8s ease 0s,
                                transform .8s $bezierSoftBounce 0s,
                                left .8s $bezierSoftBounce 0s;
                    will-change: opacity, transform;

                    -webkit-animation: background-side-slide1-grow 15000ms $bezier infinite;
                    -moz-animation: background-side-slide1-grow 15000ms $bezier infinite;
                    animation: background-side-slide1-grow 15000ms $bezier infinite;
                }
        
                &.piece-2 {
                    left: 48%;
                    top: 0;
                    width: 5%;
                    height: 100%;
                    transform: skewX(-25deg) translateZ(0);
                    transition: opacity 2.2s cubic-bezier(.23,1,.32,1) .7s;
                
                    // -webkit-animation: background-middle-slide1-grow 45000ms $bezier infinite;
                    // -moz-animation: background-middle-slide1-grow 45000ms $bezier infinite;
                    // animation: background-middle-slide1-grow 45000ms $bezier infinite;
                }
        
                &.piece-3 {
                    left: 76%;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    transform: skewX(-25deg) translateZ(0);
                    transition: opacity 2.2s cubic-bezier(.23,1,.32,1) .6s;
        
                    // -webkit-animation: background-side-slide1-grow 45000ms $bezier infinite;
                    // -moz-animation: background-side-slide1-grow 45000ms $bezier infinite;
                    // animation: background-side-slide1-grow 45000ms $bezier infinite;
                }
            }
        }
    }

    [data-hover="1"] {
        .patterns {
            .puzzle-piece {
                left: -69%!important;
            }
        }
    }

    [data-hover="2"] {
        .patterns {
            .puzzle-piece {
                left: -60%!important;
            }
        }
    }

    [data-hover="3"] {
        .patterns {
            .puzzle-piece {
                left: -20%!important;
            }
        }
    }

    [data-hover="4"] {
        .patterns {
            .puzzle-piece {
                left: -30%!important;
            }
        }

    }

    [data-hover="5"] {
        .patterns {
            .puzzle-piece {
                left: -45%!important;
            }
        }
    }

    [data-hover="6"] {
        .patterns {
            .puzzle-piece {
                left: -65%!important;
            }
        }
    }

    [data-hover="7"] {
        .patterns {
            .puzzle-piece {
                left: -40%!important;
            }
        }
    }


    .navigation-popup-images {
        position: absolute;
        display: block;
        
        z-index: 35000;
        width: 100%;
        height: 100%;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
                                
        transition: opacity .8s ease 0s,
                    transform .8s $bezierSoftBounce 0s,
                    width .8s $bezierSoftBounce 0s;
        will-change: opacity, transform;
        
        transform: rotate(45deg) scale(0.6);

        .slide-container {
            display: block;
            width: 100%;
            height: 100vh;
            float: left;

            .background-container {
                display: block;
                width: 100%;
                height: 100vh;
                float: left;

                img {
                    display: block;
                    width: 100%;
                    height: 100vh;
                    float: left;
                    opacity: 0.1;
                     
                    transition: opacity 1.5s ease 0s,
                                transform 1.5s $bezierSoftBounce 0s,
                    width 1.5s $bezierSoftBounce 0s;
                    will-change: opacity, transform;

                    transition-delay: .4s;
                }
            }

            &.is-selected {
                .background-container {
                    img {
                        opacity: 0.5;
                    }
                }
            }
        }
    }

    .popup-boarder {
        background-color: #2B2E32;
        position: fixed;
        z-index: 999999;
        opacity: 1;
        transition-delay: .8s;
        transition: 1s;

        &.top {
            height: 0;
            width: 100%;
            
            top: 0;
            left: 0;
            right: 0;
        }
        
        &.right {
            height: 100%;
            width: 0;

            top: 0;
            right: 0;
            bottom: 0;
        }

        &.left {
            height: 100%;
            width: 0;

            top: 0;
            left: 0;
            bottom: 0;
        }

        &.bottom {
            height: 0;
            width: 100%;
            
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    &.is-active {
        visibility: visible;
        opacity: 1;
        
        .navigation-popup-images {
            transform: rotate(0) scale(1);
        }

        .navigation-wrap {
            .navigation-popup-menu {
                li {
                    opacity: 1;
                    transform: translateY(0px);
                }
            }
        }

        .popup-boarder {
            @include MQ(tabletLandscape) {    
                &.top {
                    height: 140px;
                }
                
                &.right {
                    width: 60px;
                }
            
                &.left {
                    width: 60px;
                }
            
                &.bottom {
                    height: 100px;
                }
            }
        }

        .section-slide-title {
            opacity: 1;
            transform: translate(0, -35px);

            @include MQ(tabletLandscape) {    
                transform: translate(0, 0);
            }

            span {
                opacity: 1;
            }

            .line {
                @include MQ(tabletLandscape) {
                    opacity: 0.3;
                    width: 100%;
                }
            }
        }

        .section-slide-copy {
            opacity: 1;
            transform: translateX(0px);

            span, a {
                opacity: 1;
            }
        }
    }
}

