.wp-nav-wrap {
    position: absolute;
    top: 82px;
    height: auto;
    width: auto;
    padding: 0 0 30px 0;
    display: none;

    @include transition(all, .5s, ease-in-out);

    @include MQ(tabletLandscape) {
        right: 61px;
        display: block;
    }

    @include MQ(desktop) {
        right: 61px;
    }

    @include MQ(wideDesktop) {
        right: 61px;
    }

    @include MQ(siteWidth) {
        right: 61px;
    }

    @include MQ(extraWideDesktop) {
        right: 61px;
    }

    .menu-main-menu-container {
        width: auto;
        height: auto;
        display: block;

        ul.menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: auto;
            float: right;
            
            li.menu-item {
                float: left;
                width: auto;
                height: auto;
                position: relative;

                .menu-arrow-wrap {
                    position: absolute;
                    left: unset;
                    top: 24px;
                    right: 20px;
                    transform: rotate(-90deg) scale(0.7);
                    transition: 0s;

                    svg {
                        fill: $text;
                    }
                }

                a {
                    display: inline-block;
                    padding: 0 10px;
                    text-decoration: none;
                    width: auto;
                    height: auto;

                    font-family: $pt-serif;
                    font-size: 11px;
                    font-weight: 700;
                    letter-spacing: 1.6px;
                    text-align: center;
                    color: $white;
                    text-transform: uppercase;

                    @include transition(all, .5s, ease-in-out);

                    @include MQ(tabletLandscape) {
                        padding: 0 5px 20px 5px;
                        font-size: 11px;
                    }

                    @include MQ(desktop) {
                        padding: 0 12px 20px 12px;
                        font-size: 11px;
                    }
                
                    @include MQ(wideDesktop) {
                        padding: 0 14px 20px 14px;
                        font-size: 14px;
                    }
                
                    @include MQ(siteWidth) {
                        padding: 0 16px 20px 14px;
                        font-size: 16px;
                    }
                }

                ul.sub-menu {
                    position: absolute;
                    top: 30px;
                    left: 0%;
                    padding: 0;
                    list-style-type: none;
                    visibility: hidden;

                    display: none;
                    opacity: 0;
                    transition: opacity 1s ease 0s,
                    transform 1s $bezierSoftBounce 0s;
                    
                    transform: translate(0%, 30px);

                    will-change: opacity, transform;

                    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

                    width: 300px;
                    height: auto;
                    background-color: $white;

                    max-height: 500px;
                    overflow-y: scroll;
                    overflow-x: hidden;

                    &.show-scroll::-webkit-scrollbar {
                        -webkit-appearance: none;
                    }
                    
                    &.show-scroll::-webkit-scrollbar:vertical {
                        width: 11px;
                    }
                    
                    &.show-scroll::-webkit-scrollbar:horizontal {
                        height: 11px;
                    }
                    
                    &.show-scroll::-webkit-scrollbar-thumb {
                        border-radius: 8px;
                        border: 2px solid white; /* should match background, can't be transparent */
                        background-color: rgba(0, 0, 0, .5);
                    }

                    li.menu-item {
                        margin: 0px;
                        padding: 0px;
                        float: none;
                        margin: 0px;
                        border-bottom: 1px solid #ebebeb;

                        transition: opacity 1s ease 0s,
                        transform 1s $bezierSoftBounce 0s;

                        &::before {
                            content: '';
                            width: 0px;
                            height: 100%;
                            position: absolute;
                            left: 0px;
                            top: 0px;

                            transition: width .3s ease-in;
                        }

                        a {
                            padding: 15px;
                            margin: 0px;
                            width: auto;
                            height: auto;
                            font-family: $pt-serif;
                            font-size: 11px;
                            font-weight: 700;
                            line-height: 18px;
                            letter-spacing: 1.6px;
                            text-align: left;
                            color: $text;
                            display: block;
                            opacity: .7;

                            transition: padding-left  .3s ease-in;

                            @include MQ(tabletLandscape) {
                                font-size: 11px;
                            }
        
                            @include MQ(desktop) {
                                font-size: 12px;
                            }

                            ul.sub-menu {
                                opacity: 1;
                                visibility: hidden;
                            }
                        }

                        &:hover {
                            background-color: #F0F0F0;

                            &::before {
                                width: 3px;
                            }
                            
                            a {
                                opacity: 1;
                                padding-left: 20px;
                            }
                        }
                    }

                    &.hover-active {
                        li {
                            opacity: .2;

                            &:hover {
                                opacity: 1;

                                .sub-menu {
                                    li {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }

                &:hover {
                    > ul.sub-menu {
                        opacity: 1;
                        transform: translate(0%, 0px);
                        visibility: visible;
                        display: block;
                    }
                }

                &.level-0:nth-last-child(-n+2) {                    
                    ul.sub-menu {
                        left: unset;
                        right: 0;
                        transform: translate(0%, 30px);
                    }

                    &:hover {
                        ul.sub-menu {
                            transform: translate(0%, 0%);
                        }
                    }
                }

                &:last-of-type {
                    a {
                        padding-right: 0px;
                    }
                }
            }

            li.level-1 {
                ul.sub-menu {
                    opacity: 0;
                    visibility: hidden;

                    &.show-nav-right {
                        right: unset!important;
                        left: 0%!important;
                    }

                    &.show-nav-left {
                        right: 0%!important;
                        left: unset!important;
                    }

                    a {
                        font-size: 10px!important;
                    }
                }
            }
        }
    }
}

.header-type-tiered {
    .wp-nav-wrap {
        .menu-main-menu-container {
            ul.menu {
                li.menu-item {    
                    ul.sub-menu {
                        max-height: unset;
                        overflow-y: visible;
                        overflow-x: visible;

                        li.menu-item {
                            height: auto;

                            .menu-arrow-wrap {
                                display: block;
                            }
                        }
                    }

                    li.level-1 {
                        ul.sub-menu {
                            &.show-nav-right {
                                right: unset!important;
                                left: 100%!important;
                            }
                        }
                    }

                    &:nth-last-child(-n+4) {
                        li.level-1 {
                            ul.sub-menu {
                                &.show-nav-right {
                                    left: unset!important;
                                    right: 100%!important;
                                }
                            }
                        }
                    }
                }
    
                li.level-1 {
                    ul.sub-menu {
                        a {
                            border-bottom: 1px solid #1d1d1d;
                        }
                    }
    
                    &:hover {
                        opacity: 1;
                        visibility: visible;
    
                        > ul.sub-menu {
                            opacity: 1;
                            visibility: visible;
                            position: relative;
                            background-color: #f0f0f0;
                            position: absolute;
                            transform: translateY(-30px)!important;
                            
                            li {
                                border-bottom: 1px solid #d0d0d0;

                                a {
                                    border-bottom: none;
                                }
                            }
                        }    
                    }
                }
            }
        }
    }
}

// .header-type-tiered .wp-nav-wrap .menu-main-menu-container ul.menu li.level-1 ul.sub-menu.show-nav-right {
//     right: 100%!important;
//     left: unset!important;
// }

.header-type-scrollable {
    .wp-nav-wrap {
        .menu-main-menu-container {
            ul.menu {
                li.level-1 {
                    &:hover {
                        .sub-menu {
                            opacity: 1;
                            visibility: visible;
                            position: relative;
                            display: block;
                            float: left;
                            background-color: #f2f2f2;
                            z-index: 3;
                            transform: translateY(-31px)!important;
                            transition: .2s!important;
                        }
                    }
                }
            }
        }
    }
}

/*------------------------------------*\
	ON SCROLL
\*------------------------------------*/

.show-scrolled-menu,
.force-header-visible {
    header {
        height: 107px;
        background-color: $white;
        transition-delay: .25s;

        .logo-outer-wrap {
            top: 10px;

            .logo-wrap {
                transform: scale(0.7);
            }

            .line {
                top: -500%;
            }

            .school-name {
                span {
                    color: $text;
                }
            }

            .light {
                opacity: 0;
            }

            .dark {
                opacity: 1;
            }
        }
        
        .socials {
            margin-top: 50px;

            .header-ctas {
                .telephone {
                    span {
                        color: $text;
                    }
                }

                a.social {
                    span {
                        color: $text;
                    }
                }
            }

            .spacer {
                color: $text;

                @include transition(all, .5s, ease-in-out);
            }

            .header-cta-socials,
            .header-cta-mail {
                svg.light {
                    opacity: 0;
                }

                svg.dark {
                    opacity: 1;
                }
            }


            .social-network {
                fill: $text;

                path {
                    fill: $text;
                }
            }
        }

        .hamburger {
            margin: 50px 0 0 40px;

            .hamburger-inner {
                background-color: $text;

                &:before {
                    background-color: $text;
                }

                &:after {
                    background-color: $text;
                }
            }
        }
        
        &.header04 {
            .search-box {
                margin-top: 24px;
    
                .new-search-wrap .search-wrap .search-bt .icon-wrap svg {
                    fill: #000!important;
                }
            }
    
            &.search-active {
                .search-box {
                    margin-top: 24px;
                    background-color: #f2f2f2;
    
                    .field-wrap {
                        input {
                            background-color: #f2f2f2;
                        }
                    }
                }
            }

           
        }
    }

    .force-header-visible {
        padding-top: 107px;
    }

    &.user-has-scrolled {
        header {
            -webkit-box-shadow: 0px 6px 24px -8px rgba(25, 25, 25, 0.16);
            box-shadow: 0px 6px 24px -8px rgba(25, 25, 25, 0.16);
        }
    }
}