.search-bar-wrap-sidebar,
.search-bar-wrap-center-page {
    width: 100%;
    display: block;
    float: left;
    position: relative;

    .search-bar-wrap {
        width: 100%;
        display: block;
        float: left;
        position: relative;
    }

    form {
        background-color: #EFF0F1;
        width: 100%;
        display: block;
        float: left;
        width: 100%;
        padding: 0px;
        margin: 0px;

        input {
            padding: 20px;
            font-size: 16px;
            border: none;
            outline: 0;

            color: $text;
            font-family: $pt-serif;
            font-size: 17px;

            background-color: transparent;
            border: none;
            
            @include transition(all, .5s, ease-in-out);
    
            // &:focus  {
            //     background-color: mix($text, #EFF0F1, 3%);
            // }
    
            &::-webkit-input-placeholder,
            &::-moz-placeholder,
            &:-ms-input-placeholder,
            &:-moz-placeholder {
                color: #A8A9A9;
                font-family: $pt-serif;
                font-size: 17px;
            }
        }

        .search-button-submit {
            position: absolute;
            right: 0;
            height: 60px;
            width: 40px;
            top: 0px;
            z-index: 10;
            cursor: pointer;

            svg {
                margin-top: 23px;
                width: 20px;
                height: 20px;
            }
        }

        input[type=submit] {
            display: none;
        }
    }
}

.search-bar-wrap-sidebar{ 
    form {
        margin: 0 0 30px 0;
    }
}

.search-bar-wrap-center-page {
    padding: 60px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    form {
        max-width: 500px;
        align-self: center;
    }
}

.new-search-wrap {
    width: 100%;
    height: auto;
    float: left;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 40px 0px;
    min-height: 100px;

    background-color: #f2f2f2;
    
    @include MQ(tabletLandscape) {
        min-height: 200px;
    }

    .centerPage {
        width: 100%;
        max-width: 100%;

        padding: 0px 30px;

        @include MQ(tabletLandscape) {
            padding: 0px 40px;
        }
    }

    .search-wrap {
        background-color: $white;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;

        height: auto;

        display: flex;
        justify-content: flex-start;
        flex-direction: row;

        @include MQ(tabletLandscape) {
            max-width: 450px;
        }
    
        .field-wrap {
            width: 80%;
    
            display: flex;
            justify-content: flex-end;

            input {
                width: 100%;
                padding: 20px;
                outline: none;
                border: none;

                font-size: 16px;
            }
        }
    
        .search-bt {
            width: 20%;
    
            display: flex;
            justify-content: center;
            
            border: none;
            background-color: $white;
            cursor: pointer;

            .icon-wrap {
                width: 100%;
                padding-right: 20px;
                display: flex;
                justify-content: flex-end;
            }

            svg {
                width: 20px;
                fill: $text;
                transform: scale(0.7);
                opacity: 0.8;

                transition: opacity .8s ease 0s,
                transform .8s $bezierSoftBounce 0s;
                will-change: opacity, transform;
            }
        }

        &:hover {
            .search-bt {
                svg {
                    width: 20px;
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }
    }

    &.style-type-outline {
        background-color: transparent;
        padding-top: 0px;

        .search-wrap,
        .field-wrap,
        .search-bt {
            background-color: #f2f2f2;

            input {
                background-color: #f2f2f2;
            }
        }
    }
}

.search-results-wrap {
    width: 100%;
    height: auto;

    float: left;
    display: block;

    padding: 40px 0px;

    .search-bar-wrap-sidebar {
        display: none;
    }

    .row-post-categories-list ul li.cat-title{
        padding-top: 0px;
    }

    .flex-column.main-bar {
        width: 100%;
    }

    .search-results-wrap-item {
        border: 1px solid #f2f2f2;
        margin-bottom: 20px;
        padding: 20px;

        box-shadow: 0px 0px 20px 1px rgba($text, 0.05);

        @include transition(all, .5s, ease-in-out);
   
        a.page-title {
            text-decoration: none;

            h2 {
                font-family: $pt-serif;

                font-size: 25px;
                line-height: 26px;
                font-weight: 600;

                margin-bottom: 5px;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        .page-url {
            text-decoration: none;

            span {
                font-family: $pt-serif;

                font-size: 13px;
                line-height: 26px;
                font-weight: 600;

                color: #5f5f5f;
                font-style: italic;
                margin-bottom: 15px;
            }
        }

        .row-content-paragraph { 
            margin: 0px;

            .content-paragraph-wrap {
                .title {
                    color: $text;
                    font-size: 16px;
                    margin: 0;
                }

                .paragraph {
                    color: $text;
                    font-size: 14px;
                    margin: 0;
                }
            }
        }

        &:hover {
            box-shadow: 0px 0px 20px 1px rgba($text, 0.2);
        }
    }

    &.style-type-outline {
        padding-top: 0px;

        .flex-two-column-wrap {
            padding-top: 0px;
        }
    }
}

.search-results {
    .row-hero-nrw-01 {
        .hero-narrow-wrap.outline-title {
            background-color: #f2f2f2;
        }
    }
}