header.show-screen-size {
    &:after {
        //320
        @include MQ(mobilePortrait) {
            content: 'mobilPortrait';
            width: auto;
            height: 34px;
            padding: 10px;
            text-align: right;
            background-color: black;
            color: white;
            position: absolute;
            bottom: 0px;
            left: 0px;
            opacity: .5;
            z-index: 9999999;
        }

        //480
        @include MQ(mobileLandscape) {
            content: 'mobileLandscape';
            width: auto;
            height: 34px;
            padding: 10px;
            text-align: right;
            background-color: black;
            color: white;
            position: absolute;
            bottom: 0px;
            left: 0px;
            opacity: .5;
            z-index: 9999999;
        }

        //TABLET DEVICES
        //640
        @include MQ(tabletSmall) {
            content: 'tabletSmall';
            width: auto;
            height: 34px;
            padding: 10px;
            text-align: right;
            background-color: black;
            color: white;
            position: absolute;
            bottom: 0px;
            left: 0px;
            opacity: .5;
            z-index: 9999999;
        }
        //768
        @include MQ(tabletPortrait) {
            content: 'tabletPortrait';
            width: auto;
            height: 34px;
            padding: 10px;
            text-align: right;
            background-color: black;
            color: white;
            position: absolute;
            bottom: 0px;
            left: 0px;
            opacity: .5;
            z-index: 9999999;
        }
        //1024
        @include MQ(tabletLandscape) {
            content: 'tabletLandscape';
            width: auto;
            height: 34px;
            padding: 10px;
            text-align: right;
            background-color: black;
            color: white;
            position: absolute;
            bottom: 0px;
            left: 0px;
            opacity: .5;
            z-index: 9999999;
        }

        //DESKTOP DEVICES
        //1280
        @include MQ(desktop) {
            content: 'desktop';
            width: auto;
            height: 34px;
            padding: 10px;
            text-align: right;
            background-color: black;
            color: white;
            position: absolute;
            bottom: 0px;
            left: 0px;
            opacity: .5;
            z-index: 9999999;
        }

        //1440
        @include MQ(wideDesktop) {
            content: 'wideDesktop';
            width: auto;
            height: 34px;
            padding: 10px;
            text-align: right;
            background-color: black;
            color: white;
            position: absolute;
            bottom: 0px;
            left: 0px;
            opacity: .5;
            z-index: 9999999;
        }

        //1720
        @include MQ(siteWidth) {
            content: 'siteWidth';
            width: auto;
            height: 34px;
            padding: 10px;
            text-align: right;
            background-color: black;
            color: white;
            position: absolute;
            bottom: 0px;
            left: 0px;
            opacity: .5;
            z-index: 9999999;
        }

        //1920
        @include MQ(extraWideDesktop) {
            content: 'extraWideDesktop';
            width: auto;
            height: 34px;
            padding: 10px;
            text-align: right;
            background-color: black;
            color: white;
            position: absolute;
            bottom: 0px;
            left: 0px;
            opacity: .5;
            z-index: 9999999;
        }
    }
}