.login.wp-core-ui {
    display: flex;
    flex-direction: column;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    opacity: 0;
    transition: 1s;
    width: 100%;
    height: 100%;

    .login-bg {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        width: 100%;
        height: 100%;
        opacity: 0;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        
        transition: opacity .8s ease 0s,
                        transform .8s $bezierSoftBounce 0s;
        will-change: opacity, transform;

        &.show {
            opacity: 1;
        }
    }

    #login {
        display: flex;
        flex-direction: column;
        background-color: #f7f7f7;
        align-self: flex-end;
        justify-content: center;

        max-width: 560px;
        width: 100%;
        height: 100%;

        margin: 0;
        padding: 0 6%;

        opacity: 0;
        // transform: translateX(1000px);
        transition: opacity .8s ease 0s,
                        transform .8s $bezierSoftBounce 0s;
        will-change: opacity, transform;
        
        @include MQ(siteWidth) {
            padding: 0 70px;
        }

        &.show {
            // transform: translateX(0px);
            opacity: 1;
        }

        input[type=text],
        input[type=email],
        input[type=password] {
            border: 1px solid #000;
            min-height: 50px;
            outline: 0;

            &:focus {
                border-color: #000!important;
                box-shadow: none!important;
                outline: 0!important;
            }
        }

        .wp-pwd {
            input {
                width: calc( 100% - 40px );
            }
        }


        p {
            float: left;
        }

        form {
            background: #f7f7f7;
            border: none;
            padding: 0px;
            box-shadow: none;
        }

        #nav {
            text-align: left;
            margin: 0px;
            width: 100%;
            float: left;
            display: inline-block;
            padding: 0px;
            margin-top: 10px!important;

            @include MQ(tabletSmall) {
                margin-top: 0px!important;
                width: 50%;
                text-align: right;
            }

            a {
                color: #444;
                font-family: $pt-serif;
                font-size: 14px;
            }
        }

        form {
            p {
                display: block;
                width: 100%;
                height: auto;
            }

            label {
                color: #555;
            }
        }

        .forgetmenot {
            label {
                color: #444;
                font-family: $pt-serif;
                font-size: 14px;
            }
        }
        p.message {
            background: #f2f2f2;
            background-color: #f2f2f2;
            color: #444;
            font-family: $pt-serif;
            font-size: 14px;
            box-shadow: 0 3px 5px rgba(0,0,0,.1);
        }

        #login_error {
            background: #f2f2f2;
            background-color: #f2f2f2;
            color: #444;
            font-family: $pt-serif;
            font-size: 14px;
            box-shadow: 0 3px 5px rgba(0,0,0,.1);
        }

        .forgetmenot {
            width: 50%;
            float: left;
            display: inline-block;

            label {
                display: inline-block;
            }
        }

        .login-logo {
            display: block;
            width: 100%;
            float: left;
            text-align: center;
            margin-bottom: 40px;

            img {
                margin: 0 auto;
                float: none;
                width: 100%;
                max-width: 100%;

                @include MQ(tabletSmall) {
                    max-width: 300px;
                }
            }
        }

        .submit {
            width: 100%;
            height: auto;
            float: left;
            display: block;
        }

        .admin-email__heading,
        .admin-email__actions-secondary {
            text-align: center;

            a {
                font-family: $pt-serif;
                font-size: 13px;
                line-height: 1.4;
                color: #999;
            }
        }

        .login100-form-social-item {
            width: 36px;
            height: 36px;
            font-size: 18px;
            color: #fff;
            border-radius: 50%;
            text-decoration: none;
            margin: 0 5px;
        }

        .login100-form-social-item:hover {
            background: #333333!important;
            color: #fff;
        }
        
        .user-pass1-wrap {
            display: block;
            float: left;
            width: 100%;
            position: relative;
        }

        .button.wp-hide-pw {
            top: 3px;
            right: -4px;

            &:focus {
                background: 0 0;
                border-color: transparent;
                box-shadow: none;
                outline: 0;
            }
        }

        .social-links-wrap {
            width: 100%;
            max-width: 100%;
            display: block;
            float: left;
            height: auto;

            .social-title {
                width: 100%;
                max-width: 100%;
                display: block;
                float: left;
                height: auto;
                text-align: center;
                margin: 40px 0 20px 0;
                display: none;

                @include MQ(tabletSmall) {
                    display: block
                }

                span {
                    font-family: $pt-serif;
                    font-size: 13px;
                    line-height: 1.4;
                    color: #999;
                }
            }

            .need-help-login {
                width: 100%;
                max-width: 100%;
                float: left;
                height: auto;
                text-align: center;
                margin: 40px 0 0 0;
                display: none;
                
                @include MQ(tabletSmall) {
                    display: block
                }

                span {
                    margin: 40px 0 0 0;
                    font-family: $pt-serif;
                    font-size: 14px;
                    line-height: 1.2;
                    color: #c80000;
                    text-decoration: none;
                    width: 100%;
                    max-width: 100%;
                    text-align: center;
                    text-decoration: none;
                }
                
                a {
                    display: block;
                    text-decoration: none;
                    width: 100%;
                    max-width: 100%;
                    text-align: center;
                    text-decoration: none;
                }
            }
            
            .social-links {
                width: 100%;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                display: none;
                
                @include MQ(tabletSmall) {
                    display: flex
                }

                a {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    
                    svg {
                        width: 20px;
                        height: 20px;
                        fill: #fff;
                        align-self: center;

                        path {
                            fill: #fff;
                        }
                    }
                }
            }
        }
        
        .admin-email__actions-primary {
            .button.button-large {
                padding: 0!important;
                text-align: center!important;
            }
        }

        input[type=submit] {
            margin-top: 40px;
            box-shadow: none;

            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
            width: 100%;
            height: 50px;
            border-radius: 10px;
            background: #000;

            font-family: $pt-serif;
            font-weight: bold;
            font-size: 12px;
            color: #fff;
            line-height: 1.2;
            text-transform: uppercase;
            letter-spacing: 1px;

            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;
        
            &:hover {
                background: #000;
            }
        }
    }

    &.login-page-loaded {
        opacity: 1;

        .login-logo {
            display: block!important;
        }

        .social-links-wrap {
            display: block!important;
        }
    }

    &.login-action-lostpassword {
        #nav {
            display: none!important;
        }
    }
}