#fullpage {
    background-color: #141D29;

    .parallax-section {
        position: relative;
        overflow: hidden;

        .fp-tableCell {
            transform: scale(1);

            transition: opacity .8s ease 0s,
                transform .8s $bezier 0s;
            will-change: opacity, transform;
        }

        .content-overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            z-index: 20;

            display: flex;
            flex-direction: column;
            justify-content: center;

            padding-right: 100px;

            @include MQ(tabletLandscape) {
                padding-right: 0px;
            }

            .content-wrap {
                width: 100%;
                height: 100%;

                max-width: 90%;
                padding: 30% 0;
                margin: 0 auto;

                position: relative;

                @include MQ(tabletLandscape) {
                    padding: 10% 0;
                }

                .section-title {
                    h1 {
                        color: $white;
                    }
                }

                &.dark {

                    h1,
                    h3,
                    h4,
                    h5,
                    h6 {
                        color: #0D2C35;
                    }

                    h2 {
                        color: #1151BB;
                    }

                    p,
                    span {
                        color: #AAAAAA;
                    }
                }

                &.light {

                    h1,
                    h3,
                    h4,
                    h5,
                    h6 {
                        color: $white;
                    }

                    h2 {
                        color: #1151BB;
                    }

                    p,
                    span {
                        color: #AAAAAA;
                    }
                }
            }
        }

        &.style-one {
            background-color: #141D29;

            .content-overlay {
                .content-wrap {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    h1 {
                        opacity: 0;
                        transform: translateY(30px);

                        transition: opacity .8s ease 0s,
                            transform .8s $bezier 0s;
                        will-change: opacity, transform;
                    }
                }
            }

            &.fp-completely {
                .content-overlay .content-wrap {
                    h1 {
                        opacity: 1;
                        transform: translateY(0px);
                    }
                }

                .background-fade {
                    opacity: 0;
                }
            }
        }

        &.style-two {
            background-color: $white;

            .content-overlay {
                max-width: 100%;

                @include MQ(tabletLandscape) {
                    max-width: 70%;
                }

                .content-wrap {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    max-width: 90%;

                    @include MQ(tabletLandscape) {
                        max-width: 60%;
                    }

                    @include MQ(extraWideDesktop) {
                        max-width: 800px;
                    }

                    h2 {
                        opacity: 0;
                        transform: translateY(30px);
                        transition-delay: 0s !important;

                        display: none;

                        @include MQ(tabletLandscape) {
                            display: block;
                        }
                    }

                    h1 {
                        opacity: 0;
                        transform: translateY(30px);
                        transition-delay: 0.2s !important;
                    }

                    .paragraph {
                        opacity: 0;
                        transform: translateY(30px);
                        transition-delay: 0.4s !important;

                        display: none;

                        @include MQ(tabletLandscape) {
                            display: block;
                        }
                    }

                    h1,
                    h2,
                    .paragraph {
                        transition: opacity .8s ease 0s,
                            transform .8s $bezier 0s;
                        will-change: opacity, transform;
                    }
                }
            }

            .background {
                transform: translateX(100%);
                transition: 0.5s;

                @include MQ(tabletLandscape) {
                    transform: translateX(150px);
                }

                &.narrow {
                    max-width: 30%;
                    left: 70%;
                }
            }

            &.fp-completely {
                .content-overlay .content-wrap {

                    h1,
                    h2,
                    .paragraph {
                        opacity: 1;
                        transform: translateY(0px);
                    }
                }

                .background {
                    @include MQ(tabletLandscape) {
                        transform: translateX(0px);
                    }
                }

                .background-fade {
                    opacity: 0;
                }
            }
        }

        &.style-three {
            background-color: $white;

            .content-overlay {
                max-width: 100%;

                @include MQ(tabletLandscape) {
                    max-width: 70%;
                }

                .content-wrap {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    max-width: 90%;

                    @include MQ(tabletLandscape) {
                        max-width: 60%;
                    }

                    @include MQ(extraWideDesktop) {
                        max-width: 800px;
                    }

                    h2 {
                        opacity: 0;
                        transform: translateY(30px);
                        transition-delay: 0s !important;

                        display: none;

                        @include MQ(tabletLandscape) {
                            display: block;
                        }
                    }

                    h1 {
                        opacity: 0;
                        transform: translateY(30px);
                        transition-delay: 0.2s !important;
                    }

                    .paragraph {
                        opacity: 0;
                        transform: translateY(30px);
                        transition-delay: 0.4s !important;

                        display: none;

                        @include MQ(tabletLandscape) {
                            display: block;
                        }
                    }

                    h1,
                    h2,
                    .paragraph {
                        transition: opacity .8s ease 0s,
                            transform .8s $bezier 0s;
                        will-change: opacity, transform;
                    }
                }
            }

            &.fp-completely {
                .content-overlay .content-wrap {

                    h1,
                    h2,
                    .paragraph {
                        opacity: 1;
                        transform: translateY(0px);
                    }
                }

                .background-fade {
                    opacity: 0;
                }
            }
        }


        .section-slide-title {
            position: absolute;
            left: 0%;
            bottom: 30px;
            z-index: 20;

            flex-direction: row;
            justify-content: flex-start;

            opacity: 0;
            transition: opacity .8s ease 0s,
                transform .8s $bezier 0s;
            will-change: opacity, transform;

            transform: translateX(-100%);

            display: none;
            width: 70%;

            @include MQ(tabletLandscape) {
                display: flex;
                bottom: 60px;
            }

            @include MQ(extraWideDesktop) {
                bottom: 100px;
            }

            .text-wrap,
            .line-wrap {
                display: flex;
                flex-direction: column;
                justify-content: center;

                height: 30px;
                width: auto;
            }

            .text-wrap {
                width: 81%;
            }

            .line-wrap {
                width: auto;
                flex-grow: 1;
            }

            span {
                font-family: $noto;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;

                opacity: 0;
                color: #1151BB;

                transition: opacity .8s ease 0s,
                    transform .8s $bezier 0s;
                will-change: opacity, transform;
                padding-left: 0px;
            }

            .line {
                display: flex;
                height: 1px;
                width: 0px;

                background-color: $white;

                align-self: flex-end;
                transform: translate(-32px, 0px);

                opacity: 0;

                transition: opacity .8s ease 0s,
                    transform .8s $bezier 0s;
                will-change: opacity, transform;
            }
        }

        .background-fade {
            z-index: 13;
            overflow: hidden;
            position: relative;

            opacity: 1;
            background-color: #141D29;

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            transition: opacity 3s ease 0s,
                transform 3s $bezier 0s;
            will-change: opacity, transform;
        }

        .vimeo-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            pointer-events: none;
            overflow: hidden;
         }

         .vimeo-wrapper iframe {
            width: 100vw;
            height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
            min-height: 100vh;
            min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
         }

        .navigation-popup-images-overlay {
            position: absolute;
            display: block;
            
            z-index: 12;
            width: 100%;
            height: 100%;
    
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
    
            background-image: url('../img/grain-big-pattern.png');
        }

        .navigation-popup-images-overlay-coloured {
            position: absolute;
            display: block;
            
            background-color: #091017;
            opacity: 0.6;

            z-index: 11;
            width: 100%;
            height: 100%;
    
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .video-file {
            position: absolute;
            top: -1%;
            left: -1%;
            z-index: 10;
            display: flex;
            width: 110%;
            height: 110%;
            object-fit: cover;
        }


        .iframe-video {
            z-index: 10;
            overflow: hidden;

            position: absolute;

            transform: translate(-50%, -50%);

            left: 50%;
            top: 50%;

            width: 200%;
            height: 100%;

            -o-object-fit: cover;
            object-fit: cover;
        }

        .background-images {
            z-index: 10;
            overflow: hidden;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                transform: scale(1);
                transition: 2s;
            }
        }

        &.active {
            .fp-tableCell {
                transform: scale(1);
            }

            .background-images {
                img {
                    transform: scale(1.2);
                }
            }
        }
    }
}



html.IE {

    .fp-table,
    .fp-tableCell {
        display: block !important;
    }
}