#normal-page {
    width: 100%;
    float: left;
    height: auto;
    min-height: 100vh;

    background-color: $white;

    display: flex;
    justify-content: center;
    flex-direction: column;

    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;

        @include MQ(tabletLandscape) {
            height: 100vh;
        }
    }

    .content-overlay {
        position: relative;
        z-index: 20;

        max-width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        .content-wrap {
            width: 100%;
            height: 100%;
            max-width: 90%;

            padding: 140px 0% 30% 0;

            margin: 0 auto;

            position: relative;
            
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include MQ(tabletLandscape) {
                padding: 0 30% 0 0;
            }

            .section-title {
                h1 {
                    color: $white;
                }
            }

            &.dark {
                h1, h3, h4, h5, h6 {
                    color: #0D2C35;
                }

                h2 {
                    color: #1151BB;
                }

                p, span {
                    color: #AAAAAA;
                }
            }

            &.light {
                h1, h3, h4, h5, h6 {
                    color: $white;
                }

                h2 {
                    color: #1151BB;
                }

                p, span { 
                    color: #AAAAAA;
                }
            }
        }
    }

    .content-overlay {
        .content-wrap {
            h2 {
                opacity: 0;
                transform: translateY(30px);
                transition-delay: 0s!important;
            }

            h1 {
                opacity: 0;
                transform: translateY(30px);
                transition-delay: 0.2s!important;
            }

            .paragraph {
                opacity: 0;
                transform: translateY(30px);
                transition-delay: 0.4s!important;
            }

            h1, h2, .paragraph {
                transition: opacity .8s ease 0s,
                transform .8s $bezier 0s;
                will-change: opacity, transform;
            }
        }
    }

    .background {
        transform: translateX(100%);
        transition: 0.5s;

        @include MQ(tabletLandscape) {
            transform: translateX(150px);
        }

        &.narrow {
            max-width: 30%;
            left: 70%;
        }
    }

    .background-fade {
        z-index: 13;
        overflow: hidden;
        position: relative;

        opacity: 1;
        background-color: #141D29;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        
        transition: opacity 3s ease 0s,
                    transform 3s $bezier 0s;
        will-change: opacity, transform;
    }

    .background-images {
        z-index: 10;
        overflow: hidden;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            transform: scale(1);
            transition: 2s;
        }
    }

    &.in_viewport {
        .content-overlay .content-wrap {
            h1, h2, .paragraph {
                opacity: 1;
                transform: translateY(0px);
            }
        }

        .background {
            transform: translateX(100%);

            @include MQ(tabletLandscape) {
                transform: translateX(0px);

            }
        }

        .background-fade {
            opacity: 0;
        }
    }
}