body {
    &.header-dark {
        #fullpage .parallax-section .section-slide-title span {
            color: #1151BB;
        }

        #fp-nav {
            ul {
                li {
                    .square {
                        background: #0d2c35;
        
                        @include MQ(tabletLandscape) {
                            background-color: $white;
                        }
                    }
                }
            }
        }
    }

    &.header-light {
        #fullpage .parallax-section .section-slide-title span {
            color: $white;
        }

        #fp-nav {
            ul {
                li {
                    .square {
                        background: $white;
                        
                        @include MQ(tabletLandscape) {
                            background-color: $white;
                        }
                    }
                }
            }
        }
    }
}

#fp-nav {
    width: 80px;
    height: 100vh;
    margin-top: 0px!important;
    top: 0;
    z-index: 200;
    right: 22px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: 0.5s;

    @include MQ(tabletLandscape) {
        width: 150px;
        right: 0;
    }

    &.fp-right {
        right: 0;
    }

    .menu-border {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;   

        &.top {
            max-height: 0;

            @include MQ(tabletLandscape) {
                max-height: unset;
            }
        }

        &.bottom {
            height: 100px;
            max-height: 0;
            
            @include MQ(tabletLandscape) {
                max-height: 100px;
            }
        }

        .line {
            display: flex;
            height: 100%;
            width: 1px;

            background-color: #0d2c35;

            align-self: center;
            transform: translateX(-4px);

            opacity: 0;
            
            transition: opacity .8s ease 0s,
                        transform .8s $bezier 0s;
            will-change: opacity, transform;

            @include MQ(tabletLandscape) {
                opacity: 0.2;
                background-color: $white;
            }
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 0;

        height: 30%;
        width: 100%;
        
        @include MQ(tabletLandscape) {
            height: 60%;
        }

        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-grow: 1;
            transition: 0.5s;

            width: 100%;
            margin: 0px;
            // padding: 30px 0;

            text-align: center;

            a {
                position: absolute;

                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;

                z-index: 30;
                opacity: 0;
            }

            .overlay {
                background-color: rgba(36, 52, 73, 0.4);
                opacity: 0;

                position: absolute;

                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;

                z-index: 25;
                opacity: 0;

                transform: translateX(100%);

                transition: 1s;
            }

            .square {
                background: #0d2c35;
                transition: 0.5s;

                margin: -6px 0 0 -6px;

                height: 4px;
                width: 4px;

                left: 50%;
                top: 50%;
                border: 0;
                position: absolute;
                z-index: 1;

                @include MQ(tabletLandscape) {

                    background-color: $white;
                }
            }

            .slide-number {
                color: $white;
                transform: translate(50px, 0px);
                font-family: $noto;
                font-size: 14px;
                opacity: 0;

                transition: opacity .8s ease 0s,
                            transform .8s $bezier 0s;
                will-change: opacity, transform;
                font-size: 0px;
            }
        }
    }

    &.fp-nav-menu-hover {
        @include MQ(tabletLandscape) {

            width: 150px;

            ul {
                li {
                    padding: 30px 0;

                    .slide-number {
                        transform: translate(10px, 0px);
                        opacity: 1;
                        font-size: 14px;
                        transition: 0.25s;
                    }

                    .square {
                        height: 10px;
                        width: 10px;
                        transform: translate(-20px, 0px);
                    }
                    
                    .overlay {
                        transform: translateX(0);
                    }

                    @for $i from 1 through 10 {
                        &:nth-child(#{$i}) {
                            .slide-number {
                                transition-delay: #{$i * 0.2}s;
                            }
                        }
                    }

                    &:hover {
                        .overlay {
                            opacity: 0.5;
                            transform: translateX(0);
                        }
                    }
                }
            }

            .menu-border {
                .line {
                    opacity: 1;
                    transform: scale(1.2) translateX(-18px);
                }
            }
        }
    }

    &.parallax-inMotion {
        @include MQ(tabletLandscape) {

            width: 150px;

            ul {
                li {
                    padding: 30px 0;

                    .square {
                        height: 10px;
                        width: 10px;
                        transform: translate(-20px, 0px);
                    }
                    
                    .overlay {
                        transform: translateX(0);
                    }
                }
            }

            .menu-border {
                .line {
                    opacity: 1;
                    transform: scale(1.2) translateX(-20px);
                }
            }
        }
    }
}

.logo-outer-wrap,
.overlay-menu,
.hamburger {
    transform: scale(1);

    transition: opacity .8s ease 0s,
                transform .8s $bezier 0s;
    will-change: opacity, transform;
}

body {
    @include MQ(tabletLandscape) {
        &.parallax-scrolling,
        &.parallax-menu-hover {
            .logo-outer-wrap,
            .overlay-menu,
            .hamburger {
                transform: scale(0.4) translateY(-200px);
                opacity: 0;
            }
        }
    }
}

.patterns {
    z-index: 11;

    .puzzle-piece {
        background-color: rgb(9, 16, 23);
        opacity: 0.2;

        display: block;
        position: absolute;

        &.piece-1 {
            left: -75%;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: .49;
            transform: skewX(-25deg) translateZ(0);
            transition: opacity 2.2s cubic-bezier(.23,1,.32,1) .8s;

            -webkit-animation: background-side-slide1-grow 45000ms $bezier infinite;
            -moz-animation: background-side-slide1-grow 45000ms $bezier infinite;
            animation: background-side-slide1-grow 45000ms $bezier infinite;
        }

        &.piece-2 {
            left: 48%;
            top: 0;
            width: 5%;
            height: 100%;
            opacity: .49;
            transform: skewX(-25deg) translateZ(0);
            transition: opacity 2.2s cubic-bezier(.23,1,.32,1) .7s;
        
            -webkit-animation: background-middle-slide1-grow 45000ms $bezier infinite;
            -moz-animation: background-middle-slide1-grow 45000ms $bezier infinite;
            animation: background-middle-slide1-grow 45000ms $bezier infinite;
        }

        &.piece-3 {
            left: 76%;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: .49;
            transform: skewX(-25deg) translateZ(0);
            transition: opacity 2.2s cubic-bezier(.23,1,.32,1) .6s;

            -webkit-animation: background-side-slide1-grow 45000ms $bezier infinite;
            -moz-animation: background-side-slide1-grow 45000ms $bezier infinite;
            animation: background-side-slide1-grow 45000ms $bezier infinite;
        }
    }
}

.page-boarder {
    background-color: rgba(#141D29, 1);
    position: fixed;
    z-index: 15;
    opacity: 0.5s;
    transition: 1s;

    &.top {
        height: 0;
        width: 100%;
        
        top: 0;
        left: 0;
        right: 0;
    }
    
    &.right {
        height: 100%;
        width: 0;

        top: 0;
        right: 0;
        bottom: 0;
    }

    &.left {
        height: 100%;
        width: 0;

        top: 0;
        left: 0;
        bottom: 0;
    }

    &.bottom {
        height: 0;
        width: 100%;
        
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.show-slide-title {
    #fullpage {    
        .parallax-section  {
            .section-slide-title {
                opacity: 1;
                transform: translateX(0%);

                span {
                    opacity: 0.7;
                }

                .line {
                    opacity: 0.3;
                }
            }

            &.style-one {
                .section-slide-title {
                    .line {
                        width: 66%;
                    }
                }
            }

            &.style-two {
                .section-slide-title {
                    .line {
                        background-color: rgba(0, 0, 0, 0.5);
                        width: 66%;
                    }
                }
            }

            &.style-three {
                .section-slide-title {
                    .line {
                        width: 66%;
                    }
                }
            }
        }
    }
}

.parallax-menu-hover {
    .page-boarder {
        @include MQ(tabletLandscape) {

            background-color: rgba(#141D29, 1);

            &.top {
                height: 60px;
            }
            
            &.right {
                width: 150px;
            }
        
            &.left {
                width: 60px;
            }
        
            &.bottom {
                height: 60px;
            }
        }
    }
}

//ANIMATIONS
@keyframes background-middle-slide1-grow {
    0% {
        transform: skewX(-25deg) translateZ(0) scale(1);
    }
    50% {
        transform: skewX(-25deg) translateZ(0) scale(2.4);
    }
    100% {
        transform: skewX(-25deg) translateZ(0) scale(1);
    }
}

@-webkit-keyframes background-middle-slide1-grow {
    0% {
        transform: skewX(-25deg) translateZ(0) scale(1);
    }
    50% {
        transform: skewX(-25deg) translateZ(0) scale(2.4);
    }
    100% {
        transform: skewX(-25deg) translateZ(0) scale(1);
    }
}

@keyframes background-side-slide1-grow {
    0% {
        transform: skewX(-25deg) translateZ(0) scale(1);
    }
    50% {
        transform: skewX(-25deg) translateZ(0) scale(1.2);
    }
    100% {
        transform: skewX(-25deg) translateZ(0) scale(1);
    }
}

@-webkit-keyframes background-side-slide1-grow {
    0% {
        transform: skewX(-25deg) translateZ(0) scale(1);
    }
    50% {
        transform: skewX(-25deg) translateZ(0) scale(1.2);
    }
    100% {
        transform: skewX(-25deg) translateZ(0) scale(1);
    }
}