#bae-custom-welcome,
#dashboard-widgets-wrap {
	opacity: 0;
	transition: opacity .8s ease 0s,
	transform .8s $bezierSoftBounce 0s;

	will-change: opacity, transform;
	transform: translateY(30px);

    &.show {
		transform: translateY(0px);
		opacity: 1;
    }
}

#bae-custom-panel {
	.postbox  {
		opacity: 0;
		transition: opacity .8s ease 0s,
		transform .8s $bezierSoftBounce 0s;
	
		will-change: opacity, transform;
		transform: translateY(30px);
	
		@include transition(all, 0.5s, ease-in-out);	
	}

	&.show {
		.postbox  {
			transform: translateY(0px);
			opacity: 1;
		}
	}

	.postbox {
		@for $i from 1 through 20 {
            &:nth-child(#{$i}) {
                transition: opacity .8s ease 0s,
                    transform .8s $bezierSoftBounce 0s;
                    transition-delay: #{$i * 0.2}s;
            }
        }
	}
}

.welcome-panel-content {
	p {
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
		font-size: 16px;
		color: #72777c;
	}
}

#dashboard-widgets-wrap {
	transition: opacity .8s ease 0s,
		transform .8s $bezierSoftBounce 0s;
		transition-delay: 1.4s;
}


#wpwrap {
	// HIDE WP DASH
	#wpe-gutenberg-panel,
	#wpe_dify_news_feed {
		display: none;
	}

	#bae-custom-welcome {
		h2 {
			margin-bottom: 20px;
		}
	}

	.bae-dashboard {
		width: 100%;
		display: block;
		float: left;

		.postbox {
			width: 100%;
			display: inline-block;
			float: left;
			min-width: unset;

			width: 100%;
			margin: 0 0 20px 0;
			position: relative;

			a {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				height: 100%;
				width: 100%;

				z-index: 10;
			}

			h2,
			i {
				transform: scale(1);

				@include transition(all, 1s, ease-in-out);
			}

			&:hover {
				h3,
				i {
					transform: scale(1.2);
				}
			}
		}

		a {
			text-decoration: none;
		}

		.hndle.ui-sortable-handle {
			padding: 0!important;
		}

		.inside {
			padding-bottom: 20!important;
		}

		.welcome {
			width: 100%;
		}
	}

	#bae-custom-panel {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.postbox {
			display: inline-block;
			flex-grow: 1;
			margin: 0% 0% 20px 0%;
			width: 100%;

			@include MQ(tabletSmall) {
				width: 31%;
				margin: 1%;

				// &:nth-child(1),
				// &:nth-child(3) 
				// &:nth-child(5) {
				// 	margin-left: 0%!important;
				// }
				
				// &:nth-child(2),
				// &:nth-child(4) 
				// &:nth-child(6) {
				// 	margin-right: 0%!important;
				// }

				&:nth-child(3n + 1) {
					margin-left: 0px;
				}
	
				&:nth-child(3n) {
					margin-right: 0px;
				}
	
				&:nth-child(6n) {
					margin-right: 0px;
				}
			}

			// @include MQ(tabletLandscape) {
			// 	width: 25%;

			// 	// &:nth-child(1),
			// 	// &:nth-child(4) {
			// 	// 	margin-left: 0%!important;
			// 	// }
				
			// 	// &:nth-child(2),
			// 	// &:nth-child(5) {
			// 	// 	margin-left: 1%!important;
			// 	// 	margin-right: 1%!important;
			// 	// }

			// 	// &:nth-child(3),
			// 	// &:nth-child(6) {
			// 	// 	margin-right: 0%!important;
			// 	// }

			// 	&:nth-child(3n + 1) {
			// 		margin-left: 0px;
			// 	}
	
			// 	&:nth-child(4n) {
			// 		margin-right: 0px;
			// 	}
	
			// }
		}
	}

	#wpbody-content h1 {
		display: none;
	}

	.support-ticket {
		display: block;
		width: 100%;
		float: left;
	}

	.welcome-panel-column {
		width: 100%!important;

		@include MQ(tabletLandscape) {
			width: 40%!important;

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				width: 20%!important;
			}
		}
	}

	.button.button-primary.button-hero {
		text-align: center!important;
	}

	.welcome-panel {
		padding: 23px 10px!important;
	}

	.welcome-panel-content {
		max-width: unset;
	}

	.postbox h2.hndle {
		background-color: transparent !important;
	}

	#duplicate-action {
		padding: 15px;
		text-align: center !important;
	}

	#delete-action {
		padding: 0px 0px 10px 0;
	}

	table.media .column-title .has-media-icon~.row-actions {
		margin-left: 0px;
		margin-bottom: 0px;
	}

	/* General */
	.clearfix::before,
	.clearfix::after {
		display: table;
	}

	.clearfix::after {
		clear: both;
	}

	.left-col,
	.right-col {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.left-col {
		float: left;
		padding-right: 8px;
		width: 50%;
	}

	.right-col {
		float: right;
		padding-left: 8px;
		width: 50%;
	}

	.block-label {
		display: block;
		margin-bottom: 10px;
		font-weight: 700;
	}

	/* Settings Page */
	.settingstuff.wrap .notice {
		margin-top: 10px;
		margin-bottom: 0;
	}

	.settingstuff .neatbox.has-subboxes {
		margin-top: 0;
		background-color: transparent;
		border: 0;
	}

	.settingstuff .neatbox {
		margin-top: 20px;
		margin-bottom: 20px;
		background-color: #fff;
		border: 1px solid #e5e5e5;
	}

	.settingstuff .neatbox.has-subboxes h2 {
		margin-top: 20px;
	}

	.settingstuff .neatbox h2 {
		margin-top: 0;
		margin-bottom: 0;
		padding: 15px;
		line-height: 1em;
		font-size: 14px;
		background-color: #fff;
		border-bottom: 1px solid #eee;
	}

	.settingstuff .has-bigger-heading h2 {
		font-size: 15px;
	}

	.settingstuff .has-subboxes .form-table {
		margin-top: 0;
	}

	.settingstuff .form-table {
		margin-top: 7px;
		background-color: #fff;
	}

	.settingstuff .neatbox .form-table th:empty {
		padding-right: 0;
		width: 15px;
		box-sizing: border-box;
	}

	.settingstuff .neatbox .form-table th:empty~td {
		padding-left: 0;
	}

	.settingstuff .neatbox .form-table th {
		padding-left: 15px;
	}

	.form-table .is-gapless td {
		padding-top: 11px;
		padding-bottom: 0;
	}

	.form-table .has-small-text td p {
		font-size: 13px;
	}

	.settingstuff .fields {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.settingstuff .fields-wrapper {
		padding: 15px 12px;
		background-color: #fafafa;
		border: 1px solid #ebebeb;
		border-radius: 3px;
	}

	.settingstuff .fields-wrapper.has-top-gap {
		margin-top: 13px;
	}

	.settingstuff .neatbox.has-subboxes p.submit {
		margin-top: 20px;
		margin-bottom: 0;
		padding-left: 0;
		padding-right: 0;
	}

	.settingstuff .neatbox p.submit {
		margin-top: 13px;
		margin-bottom: 2px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.settingstuff .buttons {
		margin-top: 13px;
	}

	.settingstuff .buttons p.submit {
		margin: 0;
		padding: 0;
	}

	/* Overview Styles */
	td.icon .dashicons {
		font-size: 22px;
	}

	td.icon .fa {
		font-size: 18px;
	}

	/* Addon Styles */
	.udb-addon {
		float: left;
		margin: 20px 20px 0 0;
		max-width: 350px;
	}

	.udb-addon a {
		box-shadow: none;
	}

	.udb-addon img {
		width: 100%;
		height: auto;
	}

	.udb-addon-content {
		padding: 0 15px 15px 15px;
	}

	/* Dashboard Widget */
	[id*='ms-'] {
		text-align: center;
	}

	[id*='ms-'] .fa,
	[id*='ms-'] .dashicons {
		font-size: 48px;
		width: auto;
		height: auto;
		display: block;
		padding: 0;
		box-shadow: none;
		color: #555;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		-moz-transform-style: preserve-3d;
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
	}

	[id*='ms-'] .fa:hover,
	[id*='ms-'] .dashicons:hover {
		color: #555;
		opacity: .8;
		-webkit-transform: scale(1.08);
		-moz-transform: scale(1.08);
		-ms-transform: scale(1.08);
		-o-transform: scale(1.08);
		transform: scale(1.08);
	}

	[id*='ms-'] a:focus {
		box-shadow: none;
	}

	[id*='ms-'] .handlediv {
		display: none !important;
	}

	[id*='ms-'] .hndle {
		font-weight: 400;
		border-bottom: 0;
		font-size: 22px !important;
		padding: 40px 30px !important;
	}

	[id*='ms-'] .inside {
		position: static;
		margin-top: 0;
		border-bottom: 0;
		padding: 0 30px 30px 30px;
	}

	/* Tooltip */
	.udb-info {
		padding: 15px;
		position: absolute;
		top: 0;
		right: 0;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		cursor: pointer;
		font-size: 16px !important;
		color: #aaa;
		z-index: 999;

	}

	.udb-info:before {
		font-family: FontAwesome;
		font-style: normal;
		content: "\f29c";
	}

	.udb-info:hover {
		color: #555;
	}

	.udb-info:hover+.udb-tooltip {
		opacity: 1;
	}

	.udb-tooltip {
		border-radius: 2px;
		position: absolute;
		top: 80px;
		left: 13%;
		right: 13%;
		z-index: 999;
		opacity: 0;
		line-height: normal;
		color: #fff;
		text-align: left;
		background: #555;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}

	.udb-tooltip span {
		display: block;
		padding: 8px;
		text-align: center;
	}

	.udb-tooltip:after {
		position: absolute;
		top: -22px;
		font-family: FontAwesome;
		content: "\f0d8";
		left: 50%;
		width: 40px;
		margin-left: -20px;
		text-align: center;
		font-size: 35px !important;
		color: #555;
	}

	/* Text Widget */
	.udb-content h2 {
		text-align: left;
	}

	.udb-content-wrapper {
		min-height: 108px;
		text-align: left;
		overflow-y: auto;
	}

	.udb-content-wrapper p {
		margin: 0 0 1em 0;
	}

	.udb-content-wrapper p:last-child {
		margin: 0;
	}

	.udb-content-wrapper ul li {
		list-style: disc;
		list-style-position: inside;
		margin-bottom: 3px;
	}

	.udb-content-wrapper ol {
		margin-left: 0;
	}

	.udb-content-wrapper ol li {
		list-style-position: inside;
		margin-bottom: 3px;
	}

	.udb-content.closed h2 {
		text-align: center;
	}

	/* Metabox Tab Navigation */
	#udb-metabox-tab-nav {
		float: left;
		width: 150px;
	}

	#udb-metabox-tab-nav .nav-tab-wrapper {
		padding: 0;
		border-bottom: 0;
	}

	#udb-metabox-tab-nav .nav-tab-wrapper a {
		display: block;
		float: none;
		border: none;
		margin: 0;
		padding: 10px;
		outline: none;
		border: none;
		background: #f9f9f9;
		box-shadow: none;
	}

	#udb-metabox-tab-nav .nav-tab-wrapper a:hover {
		background: #f9f9f9;
	}

	#udb-metabox-tab-nav .nav-tab-wrapper .nav-tab-active {
		background: #e5e5e5 !important;
	}

	.udb-metabox-wrapper {
		background: #fff;
		padding: 2%;
		float: left;
		width: calc(96% - 150px);
		min-height: 250px;
		display: none;
	}

	.udb-metabox-section {
		margin-bottom: 40px;
	}

	.udb-metabox-wrapper h3 {
		padding-bottom: 20px;
		font-size: 16px;
		margin: 0 0 20px 0;
		border-bottom: 1px solid #eee;
	}

	.udb-metabox-wrapper.active {
		display: block;
	}

	/* Accordion */
	.ca-accordion .ca-accordion-title {
		position: relative;
		padding: 15px;
		border-radius: 4px;
		border: 1px solid #ddd;
		margin-bottom: 15px;
		cursor: pointer;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}

	.ca-accordion .ca-accordion-title:hover {
		background: #f8f8f8;
	}

	.ca-accordion .ca-accordion-title.active {
		background: #f8f8f8;
	}

	.ca-accordion .ca-accordion-title:after {
		position: absolute;
		color: #ccc;
		right: 15px;
		font-family: FontAwesome;
		content: "\f107";
	}

	.ca-accordion .ca-accordion-title.active:after {
		content: "\f106";
	}

	.ca-accordion .ca-accordion-content {
		margin-bottom: 15px;
		padding: 0 20px;
		display: none;
	}

	.ca-accordion-content h4 {
		margin: 0;
		padding: 15px 0;
	}

	.ca-accordion-content span {
		display: none;
	}

	.ca-accordion-content ul,
	.ca-accordion-content li {
		padding: 0;
		margin: 0;
	}

	/* CPT */

	.udb-radio {
		display: none !important;
	}

	.udb-icon.fa:before,
	.udb-icon.dashicons-before:before {
		display: inline-block;
		font-size: 24px;
		width: 45px;
		height: 45px;
		line-height: 45px;
		border: 1px solid #ccc;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		margin: 10px 10px 10px 0;
		text-align: center;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		-moz-transform-style: preserve-3d;
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
	}

	.udb-icon.dashicons-before:before {
		font-size: 26px;
	}

	.udb-icon.fa:hover:before,
	.udb-icon.dashicons-before:hover:before {
		color: tomato;
		border-color: tomato;
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
		-o-transform: scale(1.2);
		transform: scale(1.2);
	}

	.udb-radio:checked+.udb-icon.fa:before,
	.udb-radio:checked+.udb-icon.dashicons-before:before {
		color: #fff;
		background: tomato;
		border-color: tomato;
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
		-o-transform: scale(1.2);
		transform: scale(1.2);
	}

	#udb-main-metabox .inside {
		padding-left: 0;
		padding-right: 0;
	}

	#udb-main-metabox .hndle,
	#udb-main-metabox .handlediv {
		display: none;
	}

	#udb-main-metabox {
		background-color: transparent;
		border: 0;
		box-shadow: none;
	}

	.neatbox .subbox {
		margin-bottom: 20px;
		background-color: #fff;
		border: 1px solid #e5e5e5;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	}

	#poststuff .subbox h2 {
		padding-top: 8px;
		padding-bottom: 8px;
		font-weight: 600;
	}

	#poststuff .has-bigger-heading h2 {
		font-size: 15px;
	}

	.neatbox>.field:first-child {
		border-top: 0;
	}

	.neatbox .field {
		padding: 15px 12px;
		border-top: 1px solid #eee;
	}

	.neatbox .radio-field {
		padding: 10px 0 0;
	}

	.neatbox .radio-field ul {
		margin-top: 0;
		margin-bottom: 0;
	}

	.neatbox .radio-field .input-control label {
		font-weight: 400;
	}

	.neatbox .label-control {
		margin-bottom: 10px;
	}

	.neatbox .input-control .icon-preview i {
		height: 120px;
		width: 120px;
		font-size: 36px;
		line-height: 120px;
		border-radius: 2px;
		text-align: center;
		background: #eee;
	}

	.neatbox.has-subboxes .field label {
		font-weight: 600;
		color: #23282d;
	}

	.neatbox .field label {
		display: block;
		margin-bottom: 3px;
		font-weight: 700;
	}

	.neatbox .field .description {
		margin-top: 0;
		margin-bottom: 10px;
		font-size: 13px;
		font-style: italic;
		color: #666;
	}

	.neatbox .field.is-inline label {
		display: inline-block;
		vertical-align: top;
	}

	.neatbox .field input[type="text"],
	.neatbox .field input[type="password"],
	.neatbox .field input[type="number"],
	.neatbox .field input[type="email"],
	.neatbox .field input[type="url"],
	.neatbox .field textarea,
	.neatbox .field select {
		padding: 3px 5px;
		width: 100%;
		height: 28px;
		line-height: 1.4;
		font-size: 14px;
		resize: none;
		box-sizing: border-box;
	}

	.neatbox .field .message {
		cursor: pointer;
		font-weight: 400;
	}

	.neatbox .input-control .select2-selection__rendered .dashicons {
		line-height: inherit;
	}

	.widget-fields [data-type].is-active {
		display: block;
	}

	.widget-fields [data-type] {
		display: none;
	}

	/* CodeMirror Fix */
	.neatbox .input-control .CodeMirror-sizer {
		margin-left: 46px !important;
	}

	.neatbox .input-control .CodeMirror-linenumbers {
		width: 29px !important;
	}

	/* Select2 Fix */
	.neatbox .input-control .select2-container {
		width: 100% !important;
	}

	.neatbox .input-control .select2-selection--single {
		outline: none !important;
	}
}