/*------------------------------------*\
	HIDE DASHBOARD ELEMENTS
\*------------------------------------*/
#wps_about_postbox,
#wps_overview_ads_postbox,
.monsterinsights-overview-upsell-desktop,
.monsterinsights-header,
.monsterinsights-navigation-bar,
.monsterinsights-powered-by,
.monsterinsights-quick-links,
#wpforms_reports_widget_lite {
    display: none!important;
}

.monsterinsights-toggle {
    display: flex;
    justify-content: center;
    height: 44px!important;

    .dashicons-chart-bar {
        transform: scale(0.6)!important;
        padding-top: 7px!important;
    }
}

.toplevel_page_wps_overview_page .wp-submenu li:nth-last-child(-n+4) {
    display: none!important;
}

/*------------------------------------*\
	HIDE DASHBOARD NOTIFICATIONS
\*------------------------------------*/
.yoast-alert.notice,
#duplicate-post-notice  {
    display: none!important;
}

/*------------------------------------*\
	ACF MODALS
\*------------------------------------*/

[data-layout="layout-two-columns"] {
    .acfe-modal.-open > .acfe-modal-wrapper {
        max-width: 1600px!important;
    }
}

.acfe-modal {
    margin-left: unset!important;
}

.acf-media-modal .wpmf-folder-tree {
    display: block!important;
}

/*------------------------------------*\
	SIMPLE HISTORY
\*------------------------------------*/

#simple_history_dashboard_widget {
    display: flex!important;
    flex-direction: column!important;

    .handlediv {
        position: absolute!important;
        right: 0px!important;
    }
}


/*------------------------------------*\
	MONSTER INSIGHTS
\*------------------------------------*/

.monsterinsights-admin-bar-handle-text,
#wp-admin-bar-itsec_admin_bar_menu .ab-empty-item {
    line-height: 40px!important;
}

#wpadminbar .monsterinsights-frontend-stats {
    top: 46px!important;
}

.toplevel_page_monsterinsights_reports {
    ul.wp-submenu {
        display: none;
    }
}

.monsterinsights-widget-content .monsterinsights-tips {
    display: none!important;
}

.monsterinsights-admin-bar-handle-text {
    line-height: 46px!important;
}

/*------------------------------------*\
	NESTED PAGES
\*------------------------------------*/

.nestedpages-list-header .np-check-all input[type="checkbox"] {
    margin-top: 16px;
}

.nestedpages-list-header .np-check-all {
    height: 100%!important;
}


/*------------------------------------*\
	WIDGETS
\*------------------------------------*/

#dashboard-widgets {
    #postbox-container-1.postbox-container,
    #postbox-container-2.postbox-container,
    #postbox-container-3.postbox-container,
    #postbox-container-4.postbox-container {
        width: 100%!important;
    
        @include MQ(tabletSmall) {
            width: 50%!important;
        }
    }
}


/*------------------------------------*\
	ADMIN BAR FIXES
\*------------------------------------*/

#wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-empty-item {
    height: 44px;
}

/*------------------------------------*\
	ADMIN BAR - HIDE
\*------------------------------------*/

#wpadminbar {
    #wp-admin-bar-updates,
    #wp-admin-bar-new-content,
    #wp-admin-bar-itsec_admin_bar_menu,
    #wp-admin-bar-easy-updates-manager-admin-bar,
    #wp-admin-bar-wpseo-menu,
    #wp-admin-bar-clear-cache {
        display: none;
    }

    #wp-admin-bar-site-name {
        .ab-item {
            font-size: 16px;
        }

        .ab-sub-wrapper {
            .ab-item {
                font-size: 14px;
            }   
        }
    }
}

/*------------------------------------*\
	TOP MESSAGES / UPDATES - HIDE
\*------------------------------------*/

.updraft-ad-container {
    display: none;
}

/*------------------------------------*\
	ADMIN FOOTER BAR - HIDE
\*------------------------------------*/

#wpfooter {
    display: none;
}

/*------------------------------------*\
	UPDATE WORDPRESS CORE
\*------------------------------------*/

.update-nag {
    display: none;
}

/*------------------------------------*\
	ADMIN MENU THEME FIXES
\*------------------------------------*/

.nav-menus-php {
    .page-title-action.hide-if-no-customize {
        display: none;
    }
}

/*------------------------------------*\
	ADMIN THEME FIXES
\*------------------------------------*/

.upload-php .wrap .wp-heading-inline+.page-title-action {
    top: 0px!important;
}

.upload-php #posts-filter {
    margin-top: 40px!important;
}

#wpadminbar {
    background-color: #45B1E1;
}

#wpwrap {
    height: unset!important;

    #update-nag, 
    .update-nag {
        margin-bottom: 20px;
    }

    #wpbody-content {
        .wrap {
            padding-top: 20px;
            margin: 0px 20px 0 2px;
        }
    }

    #wpcontent {
        height: unset!important;
    }

    .acf-image-select label {
        text-align: left;
        float: left;
    } 
    
    .acf-image-select label img {
        max-width: 100%;
        height: auto;
        opacity: 0.6;
        
    } 
    
    #wp-admin-bar-itsec_admin_bar_menu button {
        height: 46px!important;
    }
    
    #adminmenu a.menu-top {
        padding: 3px 0!important;
    }
    
    .bae-home-link {
        height: 50px;
        width: 100%;
        float: left;
        display: block;
        position: relative;
    
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 100%;
        background-position: center;
    }
    
    #wpadminbar .yoast-logo.svg {
        background-image: unset;
    }
    
    .bae-home-link a {
        position: absolute; 
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
    
        z-index: 20;
    }
    
    #menu-dashboard {
        clear: both;
    }
    
    .acf-image-select-list .acf-image-select .acf-image-select-selected img {
        opacity: 1;
        border: solid 4px #006799;
    }
    
    .monsterinsights-admin-page.monsterinsights-reports-page {
        position: absolute!important;
        top: 0!important;
        height: 100%!important;
        overflow: hidden!important;
        overflow-y: scroll!important;
        max-width: 100%!important;
        width: 100%!important;
    }

    #adminmenu,
    #adminmenuback {
        background-color: #23282D!important;
    }
    
    #adminmenu li.menu-top {
        border-bottom: none!important;
        clear: both;
    }
    
    #adminmenu div.wp-menu-image:before {
        color: #eeeeee!important;
    }
    
    #adminmenu div.wp-menu-name {
        color: #eeeeee!important;
    }
    
    #adminmenu .wp-menu-open {
        background-color: #32373C!important;
    }
    
    #adminmenu .wp-submenu.wp-submenu-wrap {
        background-color: #32373C!important;
    }
    
    #adminmenu .wp-submenu.wp-submenu-wrap li a {
        color: #eeeeee!important;
    }
    
    #adminmenu .wp-has-current-submenu ul>li>a {
        padding-left: 20px!important;
    }
    
    #adminmenu li.menu-top:hover {
        background-color: #191E23!important;
        background: #191E23!important;
    }
    
    #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, 
    #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, 
    #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, 
    .folded #adminmenu li.current.menu-top, 
    .folded #adminmenu li.wp-has-current-submenu, 
    #adminmenu li.menu-top:hover, 
    #adminmenu li.opensub>a.menu-top, 
    #adminmenu li>a.menu-top:focus {
        background-color: #191E23!important;
        background: #191E23!important;
    }
    
    .acf-button.button {
        margin-right: 10px;
        text-align: center;
    }
    
    #save-action {
        margin-bottom: 6px;
        float: left;
    }
    
    .widefat th input {
        margin: 2px 0 0 8px!important;
    }
    
    .widefat td {
        padding: 12px 10px!important;
    }
    
    .widefat .check-column {
        width: 4.2em;
    }
    
    td.column-title strong, 
    td.plugin-title strong {
        margin-bottom: 0px;
    }
    
    .wp-core-ui .button {
        float: none;
    }
    
    .acf-actions {
        button {
            float: none;
        }
    }

    #plupload-browse-button {
        float: none;
    }
}


/*------------------------------------*\
	DASHBOARD HOME FIX
\*------------------------------------*/
.index-php {
    #wpwrap {
    
        #update-nag, 
        .update-nag {
            margin-bottom: 0px;
        }
    } 
}

/*------------------------------------*\
	HIDE EVENTS SLUG
\*------------------------------------*/
.post-type-ajde_events #edit-slug-box {
    display: none!important;
}