@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5e8ur9');
  src:  url('fonts/icomoon.eot?5e8ur9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5e8ur9') format('truetype'),
    url('fonts/icomoon.woff?5e8ur9') format('woff'),
    url('fonts/icomoon.svg?5e8ur9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e92d";
}
.icon-menu3:before {
  content: "\e92e";
}
.icon-chevrons-up:before {
  content: "\e903";
}
.icon-chevrons-right:before {
  content: "\e904";
}
.icon-chevrons-left:before {
  content: "\e905";
}
.icon-chevrons-down:before {
  content: "\e906";
}
.icon-chevron-right:before {
  content: "\e908";
}
.icon-chevron-left:before {
  content: "\e909";
}
.icon-chevron-down:before {
  content: "\e90a";
}
.icon-chevron-up:before {
  content: "\e90b";
}
.icon-menu1:before {
  content: "\e92f";
}
.icon-menu4:before {
  content: "\e930";
}
.icon-chevron-with-circle-up:before {
  content: "\e90c";
}
.icon-chevron-with-circle-right:before {
  content: "\e90d";
}
.icon-chevron-with-circle-left:before {
  content: "\e90e";
}
.icon-chevron-with-circle-down:before {
  content: "\e90f";
}
.icon-chevron-thin-up:before {
  content: "\e915";
}
.icon-chevron-thin-right:before {
  content: "\e916";
}
.icon-chevron-thin-left:before {
  content: "\e917";
}
.icon-chevron-thin-down:before {
  content: "\e918";
}
.icon-chevron-small-up:before {
  content: "\e919";
}
.icon-chevron-small-right:before {
  content: "\e91a";
}
.icon-chevron-small-left:before {
  content: "\e927";
}
.icon-chevron-small-down:before {
  content: "\e928";
}
.icon-chevron-right1:before {
  content: "\e929";
}
.icon-chevron-left1:before {
  content: "\e92a";
}
.icon-chevron-down1:before {
  content: "\e92b";
}
.icon-chevron-up1:before {
  content: "\e92c";
}
.icon-dot-single:before {
  content: "\e902";
}
.icon-menu2:before {
  content: "\e931";
}
.icon-list:before {
  content: "\e931";
}
.icon-options:before {
  content: "\e931";
}
.icon-lines:before {
  content: "\e931";
}
.icon-hamburger:before {
  content: "\e931";
}
.icon-list1:before {
  content: "\e934";
}
.icon-todo:before {
  content: "\e934";
}
.icon-bullet:before {
  content: "\e934";
}
.icon-menu5:before {
  content: "\e934";
}
.icon-options1:before {
  content: "\e934";
}
.icon-list2:before {
  content: "\e935";
}
.icon-todo1:before {
  content: "\e935";
}
.icon-bullet1:before {
  content: "\e935";
}
.icon-menu6:before {
  content: "\e935";
}
.icon-options2:before {
  content: "\e935";
}
.icon-list-numbered:before {
  content: "\e936";
}
.icon-options3:before {
  content: "\e936";
}
.icon-cogs:before {
  content: "\e937";
}
.icon-gears:before {
  content: "\e937";
}
.icon-preferences:before {
  content: "\e937";
}
.icon-settings:before {
  content: "\e937";
}
.icon-generate:before {
  content: "\e937";
}
.icon-control:before {
  content: "\e937";
}
.icon-options4:before {
  content: "\e937";
}
.icon-cog:before {
  content: "\e938";
}
.icon-gear:before {
  content: "\e938";
}
.icon-preferences1:before {
  content: "\e938";
}
.icon-settings1:before {
  content: "\e938";
}
.icon-generate1:before {
  content: "\e938";
}
.icon-control1:before {
  content: "\e938";
}
.icon-options5:before {
  content: "\e938";
}
.icon-wrench:before {
  content: "\e939";
}
.icon-tool:before {
  content: "\e939";
}
.icon-fix:before {
  content: "\e939";
}
.icon-settings2:before {
  content: "\e939";
}
.icon-control2:before {
  content: "\e939";
}
.icon-options6:before {
  content: "\e939";
}
.icon-preferences2:before {
  content: "\e939";
}
.icon-calendar-closing:before {
  content: "\e901";
}
.icon-apple:before {
  content: "\e900";
}
.icon-bike:before {
  content: "\e907";
}
.icon-briefcase-frontal-view:before {
  content: "\e910";
}
.icon-briefcase:before {
  content: "\e911";
}
.icon-calendar-with-a-clock-time-tools:before {
  content: "\e912";
}
.icon-calendar:before {
  content: "\e913";
}
.icon-card:before {
  content: "\e914";
}
.icon-charity:before {
  content: "\e91b";
}
.icon-check-form:before {
  content: "\e91c";
}
.icon-chevron-arrow-down:before {
  content: "\e91d";
}
.icon-chevron-pointing-to-the-left:before {
  content: "\e91e";
}
.icon-chevron-right-thick:before {
  content: "\e91f";
}
.icon-chil-hand-on-the-hand-of-an-adult:before {
  content: "\e920";
}
.icon-clear-button:before {
  content: "\e921";
}
.icon-clock-circular-outline:before {
  content: "\e922";
}
.icon-clock-with-white-face:before {
  content: "\e923";
}
.icon-clock:before {
  content: "\e924";
}
.icon-close-envelope:before {
  content: "\e925";
}
.icon-coffee-cup:before {
  content: "\e926";
}
.icon-controls:before {
  content: "\e932";
}
.icon-credit-cards-payment:before {
  content: "\e933";
}
.icon-cursor:before {
  content: "\e942";
}
.icon-customer:before {
  content: "\e943";
}
.icon-down-arrow:before {
  content: "\e944";
}
.icon-employees:before {
  content: "\e95e";
}
.icon-external-arrow-square-symbol:before {
  content: "\e95f";
}
.icon-facebook-logo:before {
  content: "\e960";
}
.icon-father-with-son:before {
  content: "\e961";
}
.icon-funds:before {
  content: "\e970";
}
.icon-graduate-cap:before {
  content: "\e971";
}
.icon-group-of-people-in-a-formation:before {
  content: "\e972";
}
.icon-gym:before {
  content: "\e973";
}
.icon-helmet:before {
  content: "\e97f";
}
.icon-house-black-silhouette-without-door:before {
  content: "\e980";
}
.icon-idea:before {
  content: "\e981";
}
.icon-innovation:before {
  content: "\e982";
}
.icon-leaf:before {
  content: "\e983";
}
.icon-left-chevron:before {
  content: "\e984";
}
.icon-light-bulb:before {
  content: "\e985";
}
.icon-linked-in-logo:before {
  content: "\e986";
}
.icon-magnifying-glass:before {
  content: "\e998";
}
.icon-maps-and-flags-pin:before {
  content: "\e999";
}
.icon-multiple-users-silhouette:before {
  content: "\e9ca";
}
.icon-PCC-Logo-Black .path1:before {
  content: "\e9cb";
  color: rgb(255, 255, 255);
}
.icon-PCC-Logo-Black .path2:before {
  content: "\e9cc";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-PCC-Logo-Black .path3:before {
  content: "\e9cd";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-PCC-Logo-Black .path4:before {
  content: "\e9ce";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-PCC-Logo-Black .path5:before {
  content: "\e9cf";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-PCC-Logo-Black .path6:before {
  content: "\e9d0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-PCC-Logo-Black .path7:before {
  content: "\e9d1";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-PCC-Logo-Black .path8:before {
  content: "\e9d2";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-PCC-Logo-Black .path9:before {
  content: "\e9d3";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-PCC-Logo-Black .path10:before {
  content: "\e9d4";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-PCC-Logo-Black .path11:before {
  content: "\e9d5";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-PCC-Logo-Black .path12:before {
  content: "\e9d6";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-PCC-Logo-Black .path13:before {
  content: "\e9d7";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-PCC-Logo-Black .path14:before {
  content: "\e9d8";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-PCC-Logo-Black .path15:before {
  content: "\e9d9";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-PCC-Logo-Black .path16:before {
  content: "\e9da";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-PCC-Logo-Black .path17:before {
  content: "\e9db";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-PCC-Logo-Black .path18:before {
  content: "\e9dc";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-PCC-Logo-Black .path19:before {
  content: "\e9dd";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-PCC-Logo-Black .path20:before {
  content: "\e9de";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-PCC-Logo-Black .path21:before {
  content: "\e9df";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-PCC-Logo-Black .path22:before {
  content: "\e9e0";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-PCC-Logo-Black .path23:before {
  content: "\e9e1";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-PCC-Logo-Black .path24:before {
  content: "\e9e2";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-PCC-Logo-Black .path25:before {
  content: "\e9e3";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-PCC-Logo-Black .path26:before {
  content: "\e9e4";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-PCC-Logo-Black .path27:before {
  content: "\e9e5";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-placeholder-dark:before {
  content: "\e9e6";
}
.icon-placeholder-light:before {
  content: "\e9e7";
}
.icon-placeholder:before {
  content: "\e9e8";
}
.icon-play-store:before {
  content: "\e9e9";
}
.icon-purse:before {
  content: "\ea0f";
}
.icon-right-arrow:before {
  content: "\ea10";
}
.icon-road-with-two-placeholders:before {
  content: "\ea11";
}
.icon-rocking-chair:before {
  content: "\ea12";
}
.icon-round-pound-button:before {
  content: "\ea13";
}
.icon-sand-clock:before {
  content: "\ea30";
}
.icon-search-thick:before {
  content: "\ea48";
}
.icon-search-thin:before {
  content: "\ea49";
}
.icon-search:before {
  content: "\ea4a";
}
.icon-secure-data:before {
  content: "\ea4b";
}
.icon-shopping-bag:before {
  content: "\ea4f";
}
.icon-skills:before {
  content: "\ea5a";
}
.icon-sort-down:before {
  content: "\ea5b";
}
.icon-sun-umbrella:before {
  content: "\ea78";
}
.icon-team:before {
  content: "\ea79";
}
.icon-telephone:before {
  content: "\ea7a";
}
.icon-time:before {
  content: "\ea7b";
}
.icon-twitter-logo-silhouette:before {
  content: "\ea7c";
}
.icon-twitter:before {
  content: "\ea7d";
}
.icon-two-settings-cogwheels:before {
  content: "\ea7e";
}
.icon-up-chevron-narrow:before {
  content: "\ea7f";
}
.icon-up-chevron-thick:before {
  content: "\ea80";
}
.icon-user-info:before {
  content: "\ea81";
}
.icon-user:before {
  content: "\ea82";
}
.icon-wallet-filled-money-tool:before {
  content: "\ea85";
}
.icon-wallet:before {
  content: "\ea86";
}
.icon-house-black:before {
  content: "\ea9c";
}
.icon-multiple-users-black:before {
  content: "\ea9d";
}
.icon-sand-clock-black:before {
  content: "\ea9e";
}
